<a href="https://colab.research.google.com/github/naomiburgess/QM2group15/blob/main/source3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use('seaborn')

In [15]:
df = pd.read_csv('https://data.london.gov.uk/download/recorded_crime_summary/866c05de-c5cd-454b-8fe5-9e7c77ea2313/MPS%20Ward%20Level%20Crime%20%28most%20recent%2024%20months%29.csv', encoding='latin1')
print("Size of dataset is : ", df.shape)
df

Size of dataset is :  (22431, 29)

                         MajorText  ... 202011
0        Arson and Criminal Damage  ...      0
1        Arson and Criminal Damage  ...     17
2                         Burglary  ...      1
3                         Burglary  ...      7
4                    Drug Offences  ...      0
...                            ...  ...    ...
22426             Vehicle Offences  ...      3
22427             Vehicle Offences  ...      3
22428  Violence Against the Person  ...      0
22429  Violence Against the Person  ...      8
22430  Violence Against the Person  ...     32

[22431 rows x 29 columns]

In [16]:
df = df[df.LookUp_BoroughName != "Barking and Dagenham"]
df = df[df.LookUp_BoroughName != "Westminster"]
df = df[df.LookUp_BoroughName != "Hammersmith and Fulham"]
df = df[df.LookUp_BoroughName != "Barnet"]
df = df[df.LookUp_BoroughName != "Wandsworth"]
df = df[df.LookUp_BoroughName != "Putney"]
df = df[df.LookUp_BoroughName != "Bexley"]
df = df[df.LookUp_BoroughName != "Waltham Forest"]
df = df[df.LookUp_BoroughName != "Brent"]
df = df[df.LookUp_BoroughName != "Tower Hamlets"]
df = df[df.LookUp_BoroughName != "Bromley"]
df = df[df.LookUp_BoroughName != "Sutton"]
df = df[df.LookUp_BoroughName != "Croydon"]
df = df[df.LookUp_BoroughName != "Hamley"]
df = df[df.LookUp_BoroughName != "Ealing"]
df = df[df.LookUp_BoroughName != "Enfield"]
df = df[df.LookUp_BoroughName != "Greenwich"]
df = df[df.LookUp_BoroughName != "Hackney"]
df = df[df.LookUp_BoroughName != "Haringey"]
df = df[df.LookUp_BoroughName != "Harrow"]
df = df[df.LookUp_BoroughName != "Havering"]
df = df[df.LookUp_BoroughName != "Hillingdon"]
df = df[df.LookUp_BoroughName != "Hounslow"]
df = df[df.LookUp_BoroughName != "Islington"]
df = df[df.LookUp_BoroughName != "Kingston upon Thames"]
df = df[df.LookUp_BoroughName != "Lambeth"]
df = df[df.LookUp_BoroughName != "Lewisham"]
df = df[df.LookUp_BoroughName != "Merton"]
df = df[df.LookUp_BoroughName != "Newham"]
df = df[df.LookUp_BoroughName != "Richmond upon Thames"]
df = df[df.LookUp_BoroughName != "Redbridge"]
df = df[df.LookUp_BoroughName != "Southwark"]
df = df[df.MajorText != "Arson and Criminal Damage"]
df = df[df.MajorText != "Drug Offences"]
df = df[df.MajorText != "Vehicle Offences"]
df = df[df.MajorText != "Miscellaneous Crimes Against Society"]
df = df[df.MajorText != "Violence Against the Person"]
df = df[df.MajorText != "Possession of Weapons"]
df = df[df.MajorText != "Sexual Offences"]
df = df[df.MajorText != "Public Order Offences"]

df

      MajorText                          MinorText  ... 202010 202011
3469   Burglary  Burglary - Business and Community  ...      2      2
3470   Burglary             Burglary - Residential  ...      5      9
3487    Robbery       Robbery of Business Property  ...      0      0
3488    Robbery       Robbery of Personal Property  ...      0      2
3491      Theft                      Bicycle Theft  ...      1      8
...         ...                                ...  ...    ...    ...
13378   Robbery       Robbery of Personal Property  ...      1      0
13381     Theft                      Bicycle Theft  ...     14      6
13382     Theft                        Other Theft  ...     12     14
13383     Theft                        Shoplifting  ...      4      4
13384     Theft                  Theft from Person  ...      3      1

[287 rows x 29 columns]

In [17]:
df.to_csv(r'Source_final3.csv')

In [18]:
print(df)

      MajorText                          MinorText  ... 202010 202011
3469   Burglary  Burglary - Business and Community  ...      2      2
3470   Burglary             Burglary - Residential  ...      5      9
3487    Robbery       Robbery of Business Property  ...      0      0
3488    Robbery       Robbery of Personal Property  ...      0      2
3491      Theft                      Bicycle Theft  ...      1      8
...         ...                                ...  ...    ...    ...
13378   Robbery       Robbery of Personal Property  ...      1      0
13381     Theft                      Bicycle Theft  ...     14      6
13382     Theft                        Other Theft  ...     12     14
13383     Theft                        Shoplifting  ...      4      4
13384     Theft                  Theft from Person  ...      3      1

[287 rows x 29 columns]