<a href="https://colab.research.google.com/github/naomiburgess/QM2group15/blob/main/Source8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [22]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use('seaborn')

In [23]:
df1 = pd.read_csv('2017-12-metropolitan-street.csv', encoding='latin1')
df1 = df1[df1.Location != "No Location"]
df1.drop(labels=['Crime ID'], axis=1, inplace=True)
df1.drop(labels=['LSOA code'], axis=1, inplace=True)
df1.drop(labels=['Context'], axis=1, inplace=True)
df1.drop(labels=['Last outcome category'], axis=1, inplace=True)
df1.drop(labels=['Falls within'], axis=1, inplace=True)
df1.drop(labels=['Reported by'], axis=1, inplace=True)
df1.drop(df1.index[df1['Crime type'] == 'Anti-social behaviour'], inplace = True)
df1.drop(df1.index[df1['Crime type'] == 'Shoplifting'], inplace = True)
df1.drop(df1.index[df1['Crime type'] == 'Robbery'], inplace = True)
df1.drop(df1.index[df1['Crime type'] == 'Vehicle crime'], inplace = True)
df1.drop(df1.index[df1['Crime type'] == 'Burglary'], inplace = True)
df1.drop(df1.index[df1['Crime type'] == 'Violence and sexual offences'], inplace = True)
df1.drop(df1.index[df1['Crime type'] == 'Public order'], inplace = True)
df1.drop(df1.index[df1['Crime type'] == 'Criminal damage and arson'], inplace = True)
df1.drop(df1.index[df1['Crime type'] == 'Drugs'], inplace = True)
df1.drop(df1.index[df1['Crime type'] == 'Other crime'], inplace = True)
x=0 # could change x and y to a start and end date
y=10859 
df1.loc[x:y]
df1.loc[x:y].index
df1.drop(df1.loc[x:y].index, inplace=True)
z=14335 # could change x and y to a start and end date
u=44616
df1.loc[z:u]
df1.loc[z:u].index
df1.drop(df1.loc[z:u].index, inplace=True)
v= 46638
w= 79652 
df1.loc[v:w]
df1.loc[v:w].index
df1.drop(df1.loc[v:w].index, inplace=True)
print("Size of dataset is : ", df1.shape)
df1

Size of dataset is :  (1598, 6)

         Month  Longitude  ...                    LSOA name             Crime type
10868  2017-12  -0.143286  ...                  Camden 001B          Bicycle theft
10871  2017-12  -0.143286  ...                  Camden 001B            Other theft
10873  2017-12  -0.147903  ...                  Camden 001B  Theft from the person
10884  2017-12  -0.150701  ...                  Camden 001C            Other theft
10886  2017-12  -0.150701  ...                  Camden 001C  Theft from the person
...        ...        ...  ...                          ...                    ...
46606  2017-12  -0.185278  ...  Kensington and Chelsea 021D            Other theft
46607  2017-12  -0.184315  ...  Kensington and Chelsea 021D            Other theft
46608  2017-12  -0.180787  ...  Kensington and Chelsea 021D            Other theft
46609  2017-12  -0.185278  ...  Kensington and Chelsea 021D            Other theft
46612  2017-12  -0.185278  ...  Kensington and Chelsea 021D  Theft from the person

[1598 rows x 6 columns]

In [24]:
df2 = pd.read_csv('2018-01-metropolitan-street.csv', encoding='latin1')
df2 = df2[df2.Location != "No Location"]
df2.drop(labels=['Crime ID'], axis=1, inplace=True)
df2.drop(labels=['LSOA code'], axis=1, inplace=True)
df2.drop(labels=['Context'], axis=1, inplace=True)
df2.drop(labels=['Last outcome category'], axis=1, inplace=True)
df2.drop(labels=['Falls within'], axis=1, inplace=True)
df2.drop(labels=['Reported by'], axis=1, inplace=True)
df2.drop(df2.index[df2['Crime type'] == 'Anti-social behaviour'], inplace = True)
df2.drop(df2.index[df2['Crime type'] == 'Shoplifting'], inplace = True)
df2.drop(df2.index[df2['Crime type'] == 'Robbery'], inplace = True)
df2.drop(df2.index[df2['Crime type'] == 'Burglary'], inplace = True)
df2.drop(df2.index[df2['Crime type'] == 'Other theft'], inplace = True)
df2.drop(df2.index[df2['Crime type'] == 'Possession of weapons'], inplace = True)
df2.drop(df2.index[df2['Crime type'] == 'Vehicle crime'], inplace = True)
df2.drop(df2.index[df2['Crime type'] == 'Violence and sexual offences'], inplace = True)
df2.drop(df2.index[df2['Crime type'] == 'Public order'], inplace = True)
df2.drop(df2.index[df2['Crime type'] == 'Criminal damage and arson'], inplace = True)
df2.drop(df2.index[df2['Crime type'] == 'Drugs'], inplace = True)
df2.drop(df2.index[df2['Crime type'] == 'Other crime'], inplace = True)
x=0 # could change x and y to a start and end date
y=11421
df2.loc[x:y]
df2.loc[x:y].index
df2.drop(df2.loc[x:y].index, inplace=True)
z=15202 # could change x and y to a start and end date
u=46427
df2.loc[z:u]
df2.loc[z:u].index
df2.drop(df2.loc[z:u].index, inplace=True)
v= 48450
w= 83211 
df2.loc[v:w]
df2.loc[v:w].index
df2.drop(df2.loc[v:w].index, inplace=True)
print("Size of dataset is : ", df2.shape)
df2

Size of dataset is :  (723, 6)

         Month  Longitude  ...                    LSOA name             Crime type
11423  2018-01  -0.140765  ...                  Camden 001A  Theft from the person
11430  2018-01  -0.143049  ...                  Camden 001B  Theft from the person
11433  2018-01  -0.150701  ...                  Camden 001C          Bicycle theft
11434  2018-01  -0.150701  ...                  Camden 001C          Bicycle theft
11438  2018-01  -0.150701  ...                  Camden 001C  Theft from the person
...        ...        ...  ...                          ...                    ...
48373  2018-01  -0.179794  ...  Kensington and Chelsea 021A          Bicycle theft
48377  2018-01  -0.177766  ...  Kensington and Chelsea 021A  Theft from the person
48409  2018-01  -0.179970  ...  Kensington and Chelsea 021C  Theft from the person
48416  2018-01  -0.184315  ...  Kensington and Chelsea 021D          Bicycle theft
48430  2018-01  -0.185278  ...  Kensington and Chelsea 021D  Theft from the person

[723 rows x 6 columns]

In [25]:
df3 = pd.read_csv('2018-02-metropolitan-street.csv', encoding='latin1')
df3 = df3[df3.Location != "No Location"]
df3.drop(labels=['Crime ID'], axis=1, inplace=True)
df3.drop(labels=['LSOA code'], axis=1, inplace=True)
df3.drop(labels=['Context'], axis=1, inplace=True)
df3.drop(labels=['Last outcome category'], axis=1, inplace=True)
df3.drop(labels=['Falls within'], axis=1, inplace=True)
df3.drop(labels=['Reported by'], axis=1, inplace=True)
df3.drop(df3.index[df3['Crime type'] == 'Anti-social behaviour'], inplace = True)
df3.drop(df3.index[df3['Crime type'] == 'Burglary'], inplace = True)
df3.drop(df3.index[df3['Crime type'] == 'Shoplifting'], inplace = True)
df3.drop(df3.index[df3['Crime type'] == 'Robbery'], inplace = True)
df3.drop(df3.index[df3['Crime type'] == 'Possession of weapons'], inplace = True)
df3.drop(df3.index[df3['Crime type'] == 'Vehicle crime'], inplace = True)
df3.drop(df3.index[df3['Crime type'] == 'Violence and sexual offences'], inplace = True)
df3.drop(df3.index[df3['Crime type'] == 'Public order'], inplace = True)
df3.drop(df3.index[df3['Crime type'] == 'Criminal damage and arson'], inplace = True)
df3.drop(df3.index[df3['Crime type'] == 'Drugs'], inplace = True)
df3.drop(df3.index[df3['Crime type'] == 'Other crime'], inplace = True)
x=0 # could change x and y to a start and end date
y=10399
df3.loc[x:y]
df3.loc[x:y].index
df3.drop(df3.loc[x:y].index, inplace=True)
z=13783 # could change x and y to a start and end date
u=41913
df3.loc[z:u]
df3.loc[z:u].index
df3.drop(df3.loc[z:u].index, inplace=True)
v= 43916
w= 60000
df3.loc[v:w]
df3.loc[v:w].index
df3.drop(df3.loc[v:w].index, inplace=True)
print("Size of dataset is : ", df3.shape)
df3

Size of dataset is :  (802, 6)

         Month  Longitude  ...    LSOA name             Crime type
10402  2018-02  -0.140765  ...  Camden 001A  Theft from the person
10415  2018-02  -0.150701  ...  Camden 001C          Bicycle theft
10429  2018-02  -0.148560  ...  Camden 001D          Bicycle theft
10433  2018-02  -0.146659  ...  Camden 001D            Other theft
10436  2018-02  -0.148958  ...  Camden 001D  Theft from the person
...        ...        ...  ...          ...                    ...
13439  2018-02  -0.111497  ...  Camden 028B  Theft from the person
13440  2018-02  -0.120515  ...  Camden 028B  Theft from the person
13441  2018-02  -0.121379  ...  Camden 028B  Theft from the person
13442  2018-02  -0.116657  ...  Camden 028B  Theft from the person
13443  2018-02  -0.124482  ...         Camd                    NaN

[802 rows x 6 columns]

In [28]:
df4 = pd.read_csv('2018-03-metropolitan-street.csv', encoding='latin1')
df4 = df4[df4.Location != "No Location"]
df4.drop(labels=['Crime ID'], axis=1, inplace=True)
df4.drop(labels=['LSOA code'], axis=1, inplace=True)
df4.drop(labels=['Context'], axis=1, inplace=True)
df4.drop(labels=['Last outcome category'], axis=1, inplace=True)
df4.drop(labels=['Falls within'], axis=1, inplace=True)
df4.drop(labels=['Reported by'], axis=1, inplace=True)
df4.drop(df4.index[df4['Crime type'] == 'Anti-social behaviour'], inplace = True)
df4.drop(df4.index[df4['Crime type'] == 'Burglary'], inplace = True)
df4.drop(df4.index[df4['Crime type'] == 'Shoplifting'], inplace = True)
df4.drop(df4.index[df4['Crime type'] == 'Robbery'], inplace = True)
df4.drop(df4.index[df4['Crime type'] == 'Possession of weapons'], inplace = True)
df4.drop(df4.index[df4['Crime type'] == 'Shoplifting'], inplace = True)
df4.drop(df4.index[df4['Crime type'] == 'Vehicle crime'], inplace = True)
df4.drop(df4.index[df4['Crime type'] == 'Violence and sexual offences'], inplace = True)
df4.drop(df4.index[df4['Crime type'] == 'Public order'], inplace = True)
df4.drop(df4.index[df4['Crime type'] == 'Criminal damage and arson'], inplace = True)
df4.drop(df4.index[df4['Crime type'] == 'Drugs'], inplace = True)
df4.drop(df4.index[df4['Crime type'] == 'Other crime'], inplace = True)
x=0 # could change x and y to a start and end date
y=11596
df4.loc[x:y]
df4.loc[x:y].index
df4.drop(df4.loc[x:y].index, inplace=True)
z=15204 # could change x and y to a start and end date
u=45865
df4.loc[z:u]
df4.loc[z:u].index
df4.drop(df4.loc[z:u].index, inplace=True)
v= 47808
w= 81694
df4.loc[v:w]
df4.loc[v:w].index
df4.drop(df4.loc[v:w].index, inplace=True)
print("Size of dataset is : ", df4.shape)
df4

Size of dataset is :  (1467, 6)

         Month  Longitude  ...                    LSOA name             Crime type
11598  2018-03  -0.142505  ...                  Camden 001A            Other theft
11608  2018-03  -0.143049  ...                  Camden 001B            Other theft
11611  2018-03  -0.144852  ...                  Camden 001C          Bicycle theft
11616  2018-03  -0.144852  ...                  Camden 001C  Theft from the person
11625  2018-03  -0.148958  ...                  Camden 001D            Other theft
...        ...        ...  ...                          ...                    ...
47801  2018-03  -0.181108  ...  Kensington and Chelsea 020E            Other theft
47802  2018-03  -0.181108  ...  Kensington and Chelsea 020E            Other theft
47803  2018-03  -0.181108  ...  Kensington and Chelsea 020E            Other theft
47804  2018-03  -0.186225  ...  Kensington and Chelsea 020E  Theft from the person
47805  2018-03  -0.186225  ...  Kensington and Chelsea 020E  Theft from the person

[1467 rows x 6 columns]

In [31]:
df5 = pd.read_csv('2018-04-metropolitan-street.csv', encoding='latin1')
df5 = df5[df5.Location != "No Location"]
df5.drop(labels=['Crime ID'], axis=1, inplace=True)
df5.drop(labels=['LSOA code'], axis=1, inplace=True)
df5.drop(labels=['Context'], axis=1, inplace=True)
df5.drop(labels=['Last outcome category'], axis=1, inplace=True)
df5.drop(labels=['Falls within'], axis=1, inplace=True)
df5.drop(labels=['Reported by'], axis=1, inplace=True)
df5.drop(df5.index[df5['Crime type'] == 'Anti-social behaviour'], inplace = True)
df5.drop(df5.index[df5['Crime type'] == 'Burglary'], inplace = True)
df5.drop(df5.index[df5['Crime type'] == 'Possession of weapons'], inplace = True)
df5.drop(df5.index[df5['Crime type'] == 'Robbery'], inplace = True)
df5.drop(df5.index[df5['Crime type'] == 'Shoplifting'], inplace = True)
df5.drop(df5.index[df5['Crime type'] == 'Vehicle crime'], inplace = True)
df5.drop(df5.index[df5['Crime type'] == 'Burglary'], inplace = True)
df5.drop(df5.index[df5['Crime type'] == 'Other theft'], inplace = True)
df5.drop(df5.index[df5['Crime type'] == 'Violence and sexual offences'], inplace = True)
df5.drop(df5.index[df5['Crime type'] == 'Public order'], inplace = True)
df5.drop(df5.index[df5['Crime type'] == 'Criminal damage and arson'], inplace = True)
df5.drop(df5.index[df5['Crime type'] == 'Drugs'], inplace = True)
df5.drop(df5.index[df5['Crime type'] == 'Other crime'], inplace = True)
x=0 # could change x and y to a start and end date
y=11737
df5.loc[x:y]
df5.loc[x:y].index
df5.drop(df5.loc[x:y].index, inplace=True)
z=15319 # could change x and y to a start and end date
u=47699
df5.loc[z:u]
df5.loc[z:u].index
df5.drop(df5.loc[z:u].index, inplace=True)
v= 49702
w= 85274
df5.loc[v:w]
df5.loc[v:w].index
df5.drop(df5.loc[v:w].index, inplace=True)
print("Size of dataset is : ", df5.shape)
df5

Size of dataset is :  (626, 6)

         Month  Longitude  ...                    LSOA name             Crime type
11769  2018-04  -0.148560  ...                  Camden 001D          Bicycle theft
11777  2018-04  -0.148560  ...                  Camden 001D  Theft from the person
11826  2018-04  -0.178484  ...                  Camden 002C  Theft from the person
11838  2018-04  -0.173178  ...                  Camden 002D  Theft from the person
11862  2018-04  -0.148937  ...                  Camden 003A  Theft from the person
...        ...        ...  ...                          ...                    ...
49580  2018-04  -0.183964  ...  Kensington and Chelsea 020B  Theft from the person
49614  2018-04  -0.181108  ...  Kensington and Chelsea 020E          Bicycle theft
49615  2018-04  -0.181108  ...  Kensington and Chelsea 020E          Bicycle theft
49645  2018-04  -0.177766  ...  Kensington and Chelsea 021A  Theft from the person
49655  2018-04  -0.182480  ...  Kensington and Chelsea 021B          Bicycle theft

[626 rows x 6 columns]

In [40]:
df6 = pd.read_csv('2018-05-metropolitan-street.csv', encoding='latin1')
df6 = df6[df6.Location != "No Location"]
df6.drop(labels=['Crime ID'], axis=1, inplace=True)
df6.drop(labels=['LSOA code'], axis=1, inplace=True)
df6.drop(labels=['Context'], axis=1, inplace=True)
df6.drop(labels=['Last outcome category'], axis=1, inplace=True)
df6.drop(labels=['Falls within'], axis=1, inplace=True)
df6.drop(labels=['Reported by'], axis=1, inplace=True)
df6.drop(df6.index[df6['Crime type'] == 'Anti-social behaviour'], inplace = True)
df6.drop(df6.index[df6['Crime type'] == 'Burglary'], inplace = True)
df6.drop(df6.index[df6['Crime type'] == 'Shoplifting'], inplace = True)
df6.drop(df6.index[df6['Crime type'] == 'Vehicle crime'], inplace = True)
df6.drop(df6.index[df6['Crime type'] == 'Arson'], inplace = True)
df6.drop(df6.index[df6['Crime type'] == 'Possession of weapons'], inplace = True)
df6.drop(df6.index[df6['Crime type'] == 'Robbery'], inplace = True)
df6.drop(df6.index[df6['Crime type'] == 'Violence and sexual offences'], inplace = True)
df6.drop(df6.index[df6['Crime type'] == 'Public order'], inplace = True)
df6.drop(df6.index[df6['Crime type'] == 'Criminal damage and arson'], inplace = True)
df6.drop(df6.index[df6['Crime type'] == 'Drugs'], inplace = True)
df6.drop(df6.index[df6['Crime type'] == 'Other crime'], inplace = True)
x=0 # could change x and y to a start and end date
y=12126
df6.loc[x:y]
df6.loc[x:y].index
df6.drop(df6.loc[x:y].index, inplace=True)
z=15868 # could change x and y to a start and end date
u=49460
df6.loc[z:u]
df6.loc[z:u].index
df6.drop(df6.loc[z:u].index, inplace=True)
v= 51338
w= 94574
df6.loc[v:w]
df6.loc[v:w].index
df6.drop(df6.loc[v:w].index, inplace=True)
print("Size of dataset is : ", df6.shape)
df6

Size of dataset is :  (1377, 6)

         Month  Longitude  ...                    LSOA name             Crime type
12129  2018-05  -0.140765  ...                  Camden 001A          Bicycle theft
12136  2018-05  -0.140765  ...                  Camden 001A            Other theft
12160  2018-05  -0.145519  ...                  Camden 001C            Other theft
12174  2018-05  -0.148560  ...                  Camden 001D          Bicycle theft
12179  2018-05  -0.145918  ...                  Camden 001D            Other theft
...        ...        ...  ...                          ...                    ...
51317  2018-05  -0.178093  ...  Kensington and Chelsea 019C            Other theft
51330  2018-05  -0.179122  ...  Kensington and Chelsea 019D            Other theft
51332  2018-05  -0.175696  ...  Kensington and Chelsea 019D  Theft from the person
51333  2018-05  -0.178666  ...  Kensington and Chelsea 019D  Theft from the person
51334  2018-05  -0.179122  ...  Kensington and Chelsea 019D  Theft from the person

[1377 rows x 6 columns]

In [42]:
df7 = pd.read_csv('2018-06-metropolitan-street.csv', encoding='latin1')
df7 = df7[df7.Location != "No Location"]
df7.drop(labels=['Crime ID'], axis=1, inplace=True)
df7.drop(labels=['LSOA code'], axis=1, inplace=True)
df7.drop(labels=['Context'], axis=1, inplace=True)
df7.drop(labels=['Last outcome category'], axis=1, inplace=True)
df7.drop(labels=['Falls within'], axis=1, inplace=True)
df7.drop(labels=['Reported by'], axis=1, inplace=True)
df7.drop(df7.index[df7['Crime type'] == 'Anti-social behaviour'], inplace = True)
df7.drop(df7.index[df7['Crime type'] == 'Burglary'], inplace = True)
df7.drop(df7.index[df7['Crime type'] == 'Robbery'], inplace = True)
df7.drop(df7.index[df7['Crime type'] == 'Possession of weapons'], inplace = True)
df7.drop(df7.index[df7['Crime type'] == 'Vehicle crime'], inplace = True)
df7.drop(df7.index[df7['Crime type'] == 'Burglary'], inplace = True)
df7.drop(df7.index[df7['Crime type'] == 'Shoplifting'], inplace = True)
df7.drop(df7.index[df7['Crime type'] == 'Arson'], inplace = True)
df7.drop(df7.index[df7['Crime type'] == 'Violence and sexual offences'], inplace = True)
df7.drop(df7.index[df7['Crime type'] == 'Public order'], inplace = True)
df7.drop(df7.index[df7['Crime type'] == 'Criminal damage and arson'], inplace = True)
df7.drop(df7.index[df7['Crime type'] == 'Drugs'], inplace = True)
df7.drop(df7.index[df7['Crime type'] == 'Other crime'], inplace = True)
x=0 # could change x and y to a start and end date
y=12380
df7.loc[x:y]
df7.loc[x:y].index
df7.drop(df7.loc[x:y].index, inplace=True)
z=16101 # could change x and y to a start and end date
u=49065
df7.loc[z:u]
df7.loc[z:u].index
df7.drop(df7.loc[z:u].index, inplace=True)
v= 51263
w= 94574
df7.loc[v:w]
df7.loc[v:w].index
df7.drop(df7.loc[v:w].index, inplace=True)
print("Size of dataset is : ", df7.shape)
df7

Size of dataset is :  (1487, 6)

         Month  Longitude  ...                    LSOA name             Crime type
12381  2018-06  -0.142505  ...                  Camden 001A  Theft from the person
12392  2018-06  -0.143049  ...                  Camden 001B            Other theft
12403  2018-06  -0.150701  ...                  Camden 001C            Other theft
12416  2018-06  -0.151088  ...                  Camden 001D          Bicycle theft
12422  2018-06  -0.148560  ...                  Camden 001D  Theft from the person
...        ...        ...  ...                          ...                    ...
51221  2018-06  -0.185278  ...  Kensington and Chelsea 021D            Other theft
51222  2018-06  -0.185278  ...  Kensington and Chelsea 021D            Other theft
51223  2018-06  -0.185278  ...  Kensington and Chelsea 021D            Other theft
51224  2018-06  -0.185278  ...  Kensington and Chelsea 021D            Other theft
51225  2018-06  -0.185278  ...  Kensington and Chelsea 021D            Other theft

[1487 rows x 6 columns]

In [45]:
df8 = pd.read_csv('2018-07-metropolitan-street.csv', encoding='latin1')
df8 = df8[df8.Location != "No Location"]
df8.drop(labels=['Crime ID'], axis=1, inplace=True)
df8.drop(labels=['LSOA code'], axis=1, inplace=True)
df8.drop(labels=['Context'], axis=1, inplace=True)
df8.drop(labels=['Last outcome category'], axis=1, inplace=True)
df8.drop(labels=['Falls within'], axis=1, inplace=True)
df8.drop(labels=['Reported by'], axis=1, inplace=True)
df8.drop(df8.index[df8['Crime type'] == 'Anti-social behaviour'], inplace = True)
df8.drop(df8.index[df8['Crime type'] == 'Burglary'], inplace = True)
df8.drop(df8.index[df8['Crime type'] == 'Shoplifting'], inplace = True)
df8.drop(df8.index[df8['Crime type'] == 'Robbery'], inplace = True)
df8.drop(df8.index[df8['Crime type'] == 'Vehicle crime'], inplace = True)
df8.drop(df8.index[df8['Crime type'] == 'Possession of weapons'], inplace = True)
df8.drop(df8.index[df8['Crime type'] == 'Arson'], inplace = True)
df8.drop(df8.index[df8['Crime type'] == 'Violence and sexual offences'], inplace = True)
df8.drop(df8.index[df8['Crime type'] == 'Public order'], inplace = True)
df8.drop(df8.index[df8['Crime type'] == 'Criminal damage and arson'], inplace = True)
df8.drop(df8.index[df8['Crime type'] == 'Drugs'], inplace = True)
df8.drop(df8.index[df8['Crime type'] == 'Other crime'], inplace = True)
x=0 # could change x and y to a start and end date
y=12577
df8.loc[x:y]
df8.loc[x:y].index
df8.drop(df8.loc[x:y].index, inplace=True)
z=16535 # could change x and y to a start and end date
u=52058
df8.loc[z:u]
df8.loc[z:u].index
df8.drop(df8.loc[z:u].index, inplace=True)
v=54333
w= 94574
df8.loc[v:w]
df8.loc[v:w].index
df8.drop(df8.loc[v:w].index, inplace=True)
print("Size of dataset is : ", df8.shape)
df8

Size of dataset is :  (1562, 6)

         Month  Longitude  ...                    LSOA name             Crime type
12592  2018-07  -0.143286  ...                  Camden 001B  Theft from the person
12605  2018-07  -0.150701  ...                  Camden 001C            Other theft
12619  2018-07  -0.146659  ...                  Camden 001D          Bicycle theft
12623  2018-07  -0.148560  ...                  Camden 001D            Other theft
12624  2018-07  -0.148560  ...                  Camden 001D            Other theft
...        ...        ...  ...                          ...                    ...
54275  2018-07  -0.182832  ...  Kensington and Chelsea 021B  Theft from the person
54296  2018-07  -0.180746  ...  Kensington and Chelsea 021C          Bicycle theft
54298  2018-07  -0.180746  ...  Kensington and Chelsea 021C  Theft from the person
54305  2018-07  -0.182461  ...  Kensington and Chelsea 021D            Other theft
54309  2018-07  -0.185278  ...  Kensington and Chelsea 021D  Theft from the person

[1562 rows x 6 columns]

In [49]:
df9 = pd.read_csv('2018-08-metropolitan-street.csv', encoding='latin1')
df9 = df9[df9.Location != "No Location"]
df9.drop(labels=['Crime ID'], axis=1, inplace=True)
df9.drop(labels=['LSOA code'], axis=1, inplace=True)
df9.drop(labels=['Context'], axis=1, inplace=True)
df9.drop(labels=['Last outcome category'], axis=1, inplace=True)
df9.drop(labels=['Falls within'], axis=1, inplace=True)
df9.drop(labels=['Reported by'], axis=1, inplace=True)
df9.drop(df9.index[df9['Crime type'] == 'Anti-social behaviour'], inplace = True)
df9.drop(df9.index[df9['Crime type'] == 'Burglary'], inplace = True)
df9.drop(df9.index[df9['Crime type'] == 'Shoplifting'], inplace = True)
df9.drop(df9.index[df9['Crime type'] == 'Robbery'], inplace = True)
df9.drop(df9.index[df9['Crime type'] == 'Arson'], inplace = True)
df9.drop(df9.index[df9['Crime type'] == 'Vehicle crime'], inplace = True)
df9.drop(df9.index[df9['Crime type'] == 'Vehicle crime'], inplace = True)
df9.drop(df9.index[df9['Crime type'] == 'Violence and sexual offences'], inplace = True)
df9.drop(df9.index[df9['Crime type'] == 'Public order'], inplace = True)
df9.drop(df9.index[df9['Crime type'] == 'Criminal damage and arson'], inplace = True)
df9.drop(df9.index[df9['Crime type'] == 'Drugs'], inplace = True)
df9.drop(df9.index[df9['Crime type'] == 'Other crime'], inplace = True)
x=0 # could change x and y to a start and end date
y=11801
df9.loc[x:y]
df9.loc[x:y].index
df9.drop(df9.loc[x:y].index, inplace=True)
z=15444 # could change x and y to a start and end date
u=47791
df9.loc[z:u]
df9.loc[z:u].index
df9.drop(df9.loc[z:u].index, inplace=True)
v=50393
w= 94574
df9.loc[v:w]
df9.loc[v:w].index
df9.drop(df9.loc[v:w].index, inplace=True)
print("Size of dataset is : ", df9.shape)
df9

Size of dataset is :  (1659, 6)

         Month  Longitude  ...                    LSOA name     Crime type
11803  2018-08  -0.142505  ...                  Camden 001A  Bicycle theft
11809  2018-08  -0.141722  ...                  Camden 001A    Other theft
11828  2018-08  -0.145519  ...                  Camden 001C  Bicycle theft
11859  2018-08  -0.151088  ...                  Camden 001D    Other theft
11860  2018-08  -0.145918  ...                  Camden 001D    Other theft
...        ...        ...  ...                          ...            ...
50367  2018-08  -0.182461  ...  Kensington and Chelsea 021D    Other theft
50368  2018-08  -0.182461  ...  Kensington and Chelsea 021D    Other theft
50369  2018-08  -0.185182  ...  Kensington and Chelsea 021D    Other theft
50370  2018-08  -0.185278  ...  Kensington and Chelsea 021D    Other theft
50371  2018-08  -0.185182  ...  Kensington and Chelsea 021D    Other theft

[1659 rows x 6 columns]

In [50]:
df10 = pd.read_csv('2018-09-metropolitan-street.csv', encoding='latin1')
df10 = df10[df10.Location != "No Location"]
df10.drop(labels=['Crime ID'], axis=1, inplace=True)
df10.drop(labels=['LSOA code'], axis=1, inplace=True)
df10.drop(labels=['Context'], axis=1, inplace=True)
df10.drop(labels=['Last outcome category'], axis=1, inplace=True)
df10.drop(labels=['Falls within'], axis=1, inplace=True)
df10.drop(labels=['Reported by'], axis=1, inplace=True)
df10.drop(df10.index[df10['Crime type'] == 'Anti-social behaviour'], inplace = True)
df10.drop(df10.index[df10['Crime type'] == 'Burglary'], inplace = True)
df10.drop(df10.index[df10['Crime type'] == 'Shoplifting'], inplace = True)
df10.drop(df10.index[df10['Crime type'] == 'Robbery'], inplace = True)
df10.drop(df10.index[df10['Crime type'] == 'Arson'], inplace = True)
df10.drop(df10.index[df10['Crime type'] == 'Possession of weapons'], inplace = True)
df10.drop(df10.index[df10['Crime type'] == 'Vehicle crime'], inplace = True)
df10.drop(df10.index[df10['Crime type'] == 'Violence and sexual offences'], inplace = True)
df10.drop(df10.index[df10['Crime type'] == 'Public order'], inplace = True)
df10.drop(df10.index[df10['Crime type'] == 'Criminal damage and arson'], inplace = True)
df10.drop(df10.index[df10['Crime type'] == 'Drugs'], inplace = True)
df10.drop(df10.index[df10['Crime type'] == 'Other crime'], inplace = True)
x=0 # could change x and y to a start and end date
y=11794
df10.loc[x:y]
df10.loc[x:y].index
df10.drop(df10.loc[x:y].index, inplace=True)
z=15402 # could change x and y to a start and end date
u=47719
df10.loc[z:u]
df10.loc[z:u].index
df10.drop(df10.loc[z:u].index, inplace=True)
v=49703
w= 94574
df10.loc[v:w]
df10.loc[v:w].index
df10.drop(df10.loc[v:w].index, inplace=True)
print("Size of dataset is : ", df10.shape)
df10

Size of dataset is :  (1532, 6)

         Month  Longitude  ...                    LSOA name             Crime type
11796  2018-09  -0.142311  ...                  Camden 001A            Other theft
11805  2018-09  -0.147192  ...                  Camden 001C          Bicycle theft
11810  2018-09  -0.150701  ...                  Camden 001C            Other theft
11820  2018-09  -0.145918  ...                  Camden 001D            Other theft
11821  2018-09  -0.145789  ...                  Camden 001D            Other theft
...        ...        ...  ...                          ...                    ...
49681  2018-09  -0.182461  ...  Kensington and Chelsea 021D            Other theft
49682  2018-09  -0.182461  ...  Kensington and Chelsea 021D            Other theft
49685  2018-09  -0.185278  ...  Kensington and Chelsea 021D  Theft from the person
49686  2018-09  -0.185278  ...  Kensington and Chelsea 021D  Theft from the person
49699  2018-09  -0.183266  ...  Kensington and Chelsea 021E  Theft from the person

[1532 rows x 6 columns]

In [52]:
df11 = pd.read_csv('2018-10-metropolitan-street.csv', encoding='latin1')
df11 = df11[df11.Location != "No Location"]
df11.drop(labels=['Crime ID'], axis=1, inplace=True)
df11.drop(labels=['LSOA code'], axis=1, inplace=True)
df11.drop(labels=['Context'], axis=1, inplace=True)
df11.drop(labels=['Last outcome category'], axis=1, inplace=True)
df11.drop(labels=['Falls within'], axis=1, inplace=True)
df11.drop(labels=['Reported by'], axis=1, inplace=True)
df11.drop(df11.index[df11['Crime type'] == 'Anti-social behaviour'], inplace = True)
df11.drop(df11.index[df11['Crime type'] == 'Burglary'], inplace = True)
df11.drop(df11.index[df11['Crime type'] == 'Shoplifting'], inplace = True)
df11.drop(df11.index[df11['Crime type'] == 'Arson'], inplace = True)
df11.drop(df11.index[df11['Crime type'] == 'Robbery'], inplace = True)
df11.drop(df11.index[df11['Crime type'] == 'Possession of weapons'], inplace = True)
df11.drop(df11.index[df11['Crime type'] == 'Vehicle crime'], inplace = True)
df11.drop(df11.index[df11['Crime type'] == 'Violence and sexual offences'], inplace = True)
df11.drop(df11.index[df11['Crime type'] == 'Public order'], inplace = True)
df11.drop(df11.index[df11['Crime type'] == 'Criminal damage and arson'], inplace = True)
df11.drop(df11.index[df11['Crime type'] == 'Drugs'], inplace = True)
df11.drop(df11.index[df11['Crime type'] == 'Other crime'], inplace = True)
x=0 # could change x and y to a start and end date
y=13015
df11.loc[x:y]
df11.loc[x:y].index
df11.drop(df11.loc[x:y].index, inplace=True)
z=16948 # could change x and y to a start and end date
u=53021
df11.loc[z:u]
df11.loc[z:u].index
df11.drop(df11.loc[z:u].index, inplace=True)
v=55154
w= 94958
df11.loc[v:w]
df11.loc[v:w].index
df11.drop(df11.loc[v:w].index, inplace=True)
print("Size of dataset is : ", df11.shape)
df11

Size of dataset is :  (1684, 6)

         Month  Longitude  ...                    LSOA name             Crime type
13017  2018-10  -0.142505  ...                  Camden 001A          Bicycle theft
13045  2018-10  -0.143286  ...                  Camden 001B            Other theft
13046  2018-10  -0.150701  ...                  Camden 001C          Bicycle theft
13047  2018-10  -0.146084  ...                  Camden 001C          Bicycle theft
13049  2018-10  -0.150701  ...                  Camden 001C            Other theft
...        ...        ...  ...                          ...                    ...
55129  2018-10  -0.185278  ...  Kensington and Chelsea 021D            Other theft
55133  2018-10  -0.185278  ...  Kensington and Chelsea 021D  Theft from the person
55134  2018-10  -0.180787  ...  Kensington and Chelsea 021D  Theft from the person
55135  2018-10  -0.185278  ...  Kensington and Chelsea 021D  Theft from the person
55148  2018-10  -0.182837  ...  Kensington and Chelsea 021E            Other theft

[1684 rows x 6 columns]

In [53]:
df12 = pd.read_csv('2018-11-metropolitan-street.csv', encoding='latin1')
df12= df12[df12.Location != "No Location"]
df12.drop(labels=['Crime ID'], axis=1, inplace=True)
df12.drop(labels=['LSOA code'], axis=1, inplace=True)
df12.drop(labels=['Context'], axis=1, inplace=True)
df12.drop(labels=['Last outcome category'], axis=1, inplace=True)
df12.drop(labels=['Falls within'], axis=1, inplace=True)
df12.drop(labels=['Reported by'], axis=1, inplace=True)
df12.drop(df12.index[df12['Crime type'] == 'Anti-social behaviour'], inplace = True)
df12.drop(df12.index[df12['Crime type'] == 'Burglary'], inplace = True)
df12.drop(df12.index[df12['Crime type'] == 'Shoplifting'], inplace = True)
df12.drop(df12.index[df12['Crime type'] == 'Robbery'], inplace = True)
df12.drop(df12.index[df12['Crime type'] == 'Arson'], inplace = True)
df12.drop(df12.index[df12['Crime type'] == 'Possession of weapons'], inplace = True)
df12.drop(df12.index[df12['Crime type'] == 'Vehicle crime'], inplace = True)
df12.drop(df12.index[df12['Crime type'] == 'Violence and sexual offences'], inplace = True)
df12.drop(df12.index[df12['Crime type'] == 'Public order'], inplace = True)
df12.drop(df12.index[df12['Crime type'] == 'Criminal damage and arson'], inplace = True)
df12.drop(df12.index[df12['Crime type'] == 'Drugs'], inplace = True)
df12.drop(df12.index[df12['Crime type'] == 'Other crime'], inplace = True)
x=0 # could change x and y to a start and end date
y=12296
df12.loc[x:y]
df12.loc[x:y].index
df12.drop(df12.loc[x:y].index, inplace=True)
z=16159 # could change x and y to a start and end date
u=49983
df12.loc[z:u]
df12.loc[z:u].index
df12.drop(df12.loc[z:u].index, inplace=True)
v=52142
w= 94958
df12.loc[v:w]
df12.loc[v:w].index
df12.drop(df12.loc[v:w].index, inplace=True)
print("Size of dataset is : ", df12.shape)
df12

Size of dataset is :  (1701, 6)

         Month  Longitude  ...                    LSOA name             Crime type
12300  2018-11  -0.142156  ...                  Camden 001A  Theft from the person
12310  2018-11  -0.143049  ...                  Camden 001B            Other theft
12315  2018-11  -0.150701  ...                  Camden 001C          Bicycle theft
12342  2018-11  -0.147277  ...                  Camden 001E            Other theft
12343  2018-11  -0.152360  ...                  Camden 001E            Other theft
...        ...        ...  ...                          ...                    ...
52115  2018-11  -0.182461  ...  Kensington and Chelsea 021D            Other theft
52116  2018-11  -0.185278  ...  Kensington and Chelsea 021D            Other theft
52117  2018-11  -0.185278  ...  Kensington and Chelsea 021D            Other theft
52122  2018-11  -0.185278  ...  Kensington and Chelsea 021D  Theft from the person
52135  2018-11  -0.182837  ...  Kensington and Chelsea 021E  Theft from the person

[1701 rows x 6 columns]

In [54]:
df13 = pd.read_csv('2018-12-metropolitan-street.csv', encoding='latin1')
df13 = df13[df13.Location != "No Location"]
df13.drop(labels=['Crime ID'], axis=1, inplace=True)
df13.drop(labels=['LSOA code'], axis=1, inplace=True)
df13.drop(labels=['Context'], axis=1, inplace=True)
df13.drop(labels=['Last outcome category'], axis=1, inplace=True)
df13.drop(labels=['Falls within'], axis=1, inplace=True)
df13.drop(labels=['Reported by'], axis=1, inplace=True)
df13.drop(df13.index[df13['Crime type'] == 'Anti-social behaviour'], inplace = True)
df13.drop(df13.index[df13['Crime type'] == 'Burglary'], inplace = True)
df13.drop(df13.index[df13['Crime type'] == 'Shoplifting'], inplace = True)
df13.drop(df13.index[df13['Crime type'] == 'Robbery'], inplace = True)
df13.drop(df13.index[df13['Crime type'] == 'Arson'], inplace = True)
df13.drop(df13.index[df13['Crime type'] == 'Possession of weapons'], inplace = True)
df13.drop(df13.index[df13['Crime type'] == 'Vehicle crime'], inplace = True)
df13.drop(df13.index[df13['Crime type'] == 'Violence and sexual offences'], inplace = True)
df13.drop(df13.index[df13['Crime type'] == 'Public order'], inplace = True)
df13.drop(df13.index[df13['Crime type'] == 'Criminal damage and arson'], inplace = True)
df13.drop(df13.index[df13['Crime type'] == 'Drugs'], inplace = True)
df13.drop(df13.index[df13['Crime type'] == 'Other crime'], inplace = True)
x=0 # could change x and y to a start and end date
y=11748
df13.loc[x:y]
df13.loc[x:y].index
df13.drop(df13.loc[x:y].index, inplace=True)
z=15353 # could change x and y to a start and end date
u=47394
df13.loc[z:u]
df13.loc[z:u].index
df13.drop(df13.loc[z:u].index, inplace=True)
v=49478
w= 94958
df13.loc[v:w]
df13.loc[v:w].index
df13.drop(df13.loc[v:w].index, inplace=True)
print("Size of dataset is : ", df13.shape)
df13

Size of dataset is :  (1627, 6)

         Month  Longitude  ...                    LSOA name             Crime type
11756  2018-12  -0.142505  ...                  Camden 001A            Other theft
11762  2018-12  -0.140765  ...                  Camden 001A  Theft from the person
11787  2018-12  -0.146659  ...                  Camden 001D            Other theft
11814  2018-12  -0.147277  ...                  Camden 001E            Other theft
11815  2018-12  -0.147277  ...                  Camden 001E            Other theft
...        ...        ...  ...                          ...                    ...
49449  2018-12  -0.182461  ...  Kensington and Chelsea 021D            Other theft
49456  2018-12  -0.185278  ...  Kensington and Chelsea 021D  Theft from the person
49468  2018-12  -0.184375  ...  Kensington and Chelsea 021E            Other theft
49469  2018-12  -0.180849  ...  Kensington and Chelsea 021E            Other theft
49470  2018-12  -0.181543  ...  Kensington and Chelsea 021E            Other theft

[1627 rows x 6 columns]

In [56]:
df14 = pd.read_csv('2019-01-metropolitan-street.csv', encoding='latin1')
df14 = df14[df14.Location != "No Location"]
df14.drop(labels=['Crime ID'], axis=1, inplace=True)
df14.drop(labels=['LSOA code'], axis=1, inplace=True)
df14.drop(labels=['Context'], axis=1, inplace=True)
df14.drop(labels=['Last outcome category'], axis=1, inplace=True)
df14.drop(labels=['Falls within'], axis=1, inplace=True)
df14.drop(labels=['Reported by'], axis=1, inplace=True)
df14.drop(df14.index[df14['Crime type'] == 'Anti-social behaviour'], inplace = True)
df14.drop(df14.index[df14['Crime type'] == 'Burglary'], inplace = True)
df14.drop(df14.index[df14['Crime type'] == 'Shoplifting'], inplace = True)
df14.drop(df14.index[df14['Crime type'] == 'Robbery'], inplace = True)
df14.drop(df14.index[df14['Crime type'] == 'Arson'], inplace = True)
df14.drop(df14.index[df14['Crime type'] == 'Possession of weapons'], inplace = True)
df14.drop(df14.index[df14['Crime type'] == 'Vehicle crime'], inplace = True)
df14.drop(df14.index[df14['Crime type'] == 'Violence and sexual offences'], inplace = True)
df14.drop(df14.index[df14['Crime type'] == 'Public order'], inplace = True)
df14.drop(df14.index[df14['Crime type'] == 'Criminal damage and arson'], inplace = True)
df14.drop(df14.index[df14['Crime type'] == 'Drugs'], inplace = True)
df14.drop(df14.index[df14['Crime type'] == 'Other crime'], inplace = True)
x=0 # could change x and y to a start and end date
y=12153
df14.loc[x:y]
df14.loc[x:y].index
df14.drop(df14.loc[x:y].index, inplace=True)
z=15872 # could change x and y to a start and end date
u=48775
df14.loc[z:u]
df14.loc[z:u].index
df14.drop(df14.loc[z:u].index, inplace=True)
v=50820
w= 94958
df14.loc[v:w]
df14.loc[v:w].index
df14.drop(df14.loc[v:w].index, inplace=True)
print("Size of dataset is : ", df14.shape)
df14

Size of dataset is :  (1698, 6)

         Month  Longitude  ...                    LSOA name             Crime type
12154  2019-01  -0.141722  ...                  Camden 001A  Theft from the person
12169  2019-01  -0.144852  ...                  Camden 001C  Theft from the person
12181  2019-01  -0.151088  ...                  Camden 001D          Bicycle theft
12184  2019-01  -0.146659  ...                  Camden 001D            Other theft
12185  2019-01  -0.148303  ...                  Camden 001D  Theft from the person
...        ...        ...  ...                          ...                    ...
50804  2019-01  -0.182461  ...  Kensington and Chelsea 021D            Other theft
50805  2019-01  -0.185278  ...  Kensington and Chelsea 021D            Other theft
50814  2019-01  -0.183266  ...  Kensington and Chelsea 021E          Bicycle theft
50815  2019-01  -0.182837  ...  Kensington and Chelsea 021E            Other theft
50816  2019-01  -0.183266  ...  Kensington and Chelsea 021E            Other theft

[1698 rows x 6 columns]

In [58]:
df15 = pd.read_csv('2019-02-metropolitan-street.csv', encoding='latin1')
df15 = df15[df15.Location != "No Location"]
df15.drop(labels=['Crime ID'], axis=1, inplace=True)
df15.drop(labels=['LSOA code'], axis=1, inplace=True)
df15.drop(labels=['Context'], axis=1, inplace=True)
df15.drop(labels=['Last outcome category'], axis=1, inplace=True)
df15.drop(labels=['Falls within'], axis=1, inplace=True)
df15.drop(labels=['Reported by'], axis=1, inplace=True)
df15.drop(df15.index[df15['Crime type'] == 'Anti-social behaviour'], inplace = True)
df15.drop(df15.index[df15['Crime type'] == 'Burglary'], inplace = True)
df15.drop(df15.index[df15['Crime type'] == 'Shoplifting'], inplace = True)
df15.drop(df15.index[df15['Crime type'] == 'Arson'], inplace = True)
df15.drop(df15.index[df15['Crime type'] == 'Robbery'], inplace = True)
df15.drop(df15.index[df15['Crime type'] == 'Possession of weapons'], inplace = True)
df15.drop(df15.index[df15['Crime type'] == 'Vehicle crime'], inplace = True)
df15.drop(df15.index[df15['Crime type'] == 'Violence and sexual offences'], inplace = True)
df15.drop(df15.index[df15['Crime type'] == 'Public order'], inplace = True)
df15.drop(df15.index[df15['Crime type'] == 'Criminal damage and arson'], inplace = True)
df15.drop(df15.index[df15['Crime type'] == 'Drugs'], inplace = True)
df15.drop(df15.index[df15['Crime type'] == 'Other crime'], inplace = True)
x=0 # could change x and y to a start and end date
y=11853
df15.loc[x:y]
df15.loc[x:y].index
df15.drop(df15.loc[x:y].index, inplace=True)
z=15678 # could change x and y to a start and end date
u=47236
df15.loc[z:u]
df15.loc[z:u].index
df15.drop(df15.loc[z:u].index, inplace=True)
v=49289
w= 94958
df15.loc[v:w]
df15.loc[v:w].index
df15.drop(df15.loc[v:w].index, inplace=True)
print("Size of dataset is : ", df15.shape)
df15

Size of dataset is :  (1835, 6)

         Month  Longitude  ...                    LSOA name     Crime type
11860  2019-02  -0.142505  ...                  Camden 001A    Other theft
11880  2019-02  -0.145617  ...                  Camden 001D  Bicycle theft
11883  2019-02  -0.151088  ...                  Camden 001D    Other theft
11911  2019-02  -0.147277  ...                  Camden 001E    Other theft
11912  2019-02  -0.147277  ...                  Camden 001E    Other theft
...        ...        ...  ...                          ...            ...
49270  2019-02  -0.182461  ...  Kensington and Chelsea 021D    Other theft
49271  2019-02  -0.182461  ...  Kensington and Chelsea 021D    Other theft
49272  2019-02  -0.185278  ...  Kensington and Chelsea 021D    Other theft
49273  2019-02  -0.182461  ...  Kensington and Chelsea 021D    Other theft
49284  2019-02  -0.183700  ...  Kensington and Chelsea 021E    Other theft

[1835 rows x 6 columns]

In [60]:
df16 = pd.read_csv('2019-03-metropolitan-street.csv', encoding='latin1')
df16 = df16[df16.Location != "No Location"]
df16.drop(labels=['Crime ID'], axis=1, inplace=True)
df16.drop(labels=['LSOA code'], axis=1, inplace=True)
df16.drop(labels=['Context'], axis=1, inplace=True)
df16.drop(labels=['Last outcome category'], axis=1, inplace=True)
df16.drop(labels=['Falls within'], axis=1, inplace=True)
df16.drop(labels=['Reported by'], axis=1, inplace=True)
df16.drop(df16.index[df16['Crime type'] == 'Anti-social behaviour'], inplace = True)
df16.drop(df16.index[df16['Crime type'] == 'Burglary'], inplace = True)
df16.drop(df16.index[df16['Crime type'] == 'Shoplifting'], inplace = True)
df16.drop(df16.index[df16['Crime type'] == 'Robbery'], inplace = True)
df16.drop(df16.index[df16['Crime type'] == 'Arson'], inplace = True)
df16.drop(df16.index[df16['Crime type'] == 'Possession of weapons'], inplace = True)
df16.drop(df16.index[df16['Crime type'] == 'Vehicle crime'], inplace = True)
df16.drop(df16.index[df16['Crime type'] == 'Violence and sexual offences'], inplace = True)
df16.drop(df16.index[df16['Crime type'] == 'Public order'], inplace = True)
df16.drop(df16.index[df16['Crime type'] == 'Criminal damage and arson'], inplace = True)
df16.drop(df16.index[df16['Crime type'] == 'Drugs'], inplace = True)
df16.drop(df16.index[df16['Crime type'] == 'Other crime'], inplace = True)
x=0 # could change x and y to a start and end date
y=13012
df16.loc[x:y]
df16.loc[x:y].index
df16.drop(df16.loc[x:y].index, inplace=True)
z=17317 # could change x and y to a start and end date
u=52789
df16.loc[z:u]
df16.loc[z:u].index
df16.drop(df16.loc[z:u].index, inplace=True)
v=55161
w= 95573
df16.loc[v:w]
df16.loc[v:w].index
df16.drop(df16.loc[v:w].index, inplace=True)
print("Size of dataset is : ", df16.shape)
df16

Size of dataset is :  (2001, 6)

         Month  Longitude  ...                    LSOA name             Crime type
13024  2019-03  -0.144852  ...                  Camden 001C            Other theft
13034  2019-03  -0.145617  ...                  Camden 001D          Bicycle theft
13037  2019-03  -0.148958  ...                  Camden 001D            Other theft
13040  2019-03  -0.151088  ...                  Camden 001D  Theft from the person
13072  2019-03  -0.147277  ...                  Camden 001E            Other theft
...        ...        ...  ...                          ...                    ...
55126  2019-03  -0.178253  ...  Kensington and Chelsea 021C            Other theft
55142  2019-03  -0.185278  ...  Kensington and Chelsea 021D            Other theft
55143  2019-03  -0.182461  ...  Kensington and Chelsea 021D            Other theft
55144  2019-03  -0.185278  ...  Kensington and Chelsea 021D  Theft from the person
55160  2019-03  -0.308240  ...    Kingston upon Thames 001A          Bicycle theft

[2001 rows x 6 columns]

In [61]:
df17 = pd.read_csv('2019-04-metropolitan-street.csv', encoding='latin1')
df17 = df17[df17.Location != "No Location"]
df17.drop(labels=['Crime ID'], axis=1, inplace=True)
df17.drop(labels=['LSOA code'], axis=1, inplace=True)
df17.drop(labels=['Context'], axis=1, inplace=True)
df17.drop(labels=['Last outcome category'], axis=1, inplace=True)
df17.drop(labels=['Falls within'], axis=1, inplace=True)
df17.drop(labels=['Reported by'], axis=1, inplace=True)
df17.drop(df17.index[df17['Crime type'] == 'Anti-social behaviour'], inplace = True)
df17.drop(df17.index[df17['Crime type'] == 'Burglary'], inplace = True)
df17.drop(df17.index[df17['Crime type'] == 'Shoplifting'], inplace = True)
df17.drop(df17.index[df17['Crime type'] == 'Arson'], inplace = True)
df17.drop(df17.index[df17['Crime type'] == 'Robbery'], inplace = True)
df17.drop(df17.index[df17['Crime type'] == 'Possession of weapons'], inplace = True)
df17.drop(df17.index[df17['Crime type'] == 'Vehicle crime'], inplace = True)
df17.drop(df17.index[df17['Crime type'] == 'Violence and sexual offences'], inplace = True)
df17.drop(df17.index[df17['Crime type'] == 'Public order'], inplace = True)
df17.drop(df17.index[df17['Crime type'] == 'Criminal damage and arson'], inplace = True)
df17.drop(df17.index[df17['Crime type'] == 'Drugs'], inplace = True)
df17.drop(df17.index[df17['Crime type'] == 'Other crime'], inplace = True)
x=0 # could change x and y to a start and end date
y=12336
df17.loc[x:y]
df17.loc[x:y].index
df17.drop(df17.loc[x:y].index, inplace=True)
z=16300 # could change x and y to a start and end date
u=49738
df17.loc[z:u]
df17.loc[z:u].index
df17.drop(df17.loc[z:u].index, inplace=True)
v=51803
w= 95573
df17.loc[v:w]
df17.loc[v:w].index
df17.drop(df17.loc[v:w].index, inplace=True)
print("Size of dataset is : ", df17.shape)
df17

Size of dataset is :  (1788, 6)

         Month  Longitude  ...                    LSOA name             Crime type
12344  2019-04  -0.142505  ...                  Camden 001A          Bicycle theft
12345  2019-04  -0.142505  ...                  Camden 001A          Bicycle theft
12346  2019-04  -0.142505  ...                  Camden 001A          Bicycle theft
12349  2019-04  -0.140765  ...                  Camden 001A            Other theft
12351  2019-04  -0.142156  ...                  Camden 001A  Theft from the person
...        ...        ...  ...                          ...                    ...
51791  2019-04  -0.186225  ...  Kensington and Chelsea 020E          Bicycle theft
51797  2019-04  -0.181108  ...  Kensington and Chelsea 020E            Other theft
51798  2019-04  -0.181108  ...  Kensington and Chelsea 020E            Other theft
51799  2019-04  -0.181108  ...  Kensington and Chelsea 020E            Other theft
51800  2019-04  -0.181108  ...  Kensington and Chelsea 020E            Other theft

[1788 rows x 6 columns]

In [62]:
df18 = pd.read_csv('2019-05-metropolitan-street.csv', encoding='latin1')
df18 = df18[df18.Location != "No Location"]
df18.drop(labels=['Crime ID'], axis=1, inplace=True)
df18.drop(labels=['LSOA code'], axis=1, inplace=True)
df18.drop(labels=['Context'], axis=1, inplace=True)
df18.drop(labels=['Last outcome category'], axis=1, inplace=True)
df18.drop(labels=['Falls within'], axis=1, inplace=True)
df18.drop(labels=['Reported by'], axis=1, inplace=True)
df18.drop(df18.index[df18['Crime type'] == 'Anti-social behaviour'], inplace = True)
df18.drop(df18.index[df18['Crime type'] == 'Burglary'], inplace = True)
df18.drop(df18.index[df18['Crime type'] == 'Shoplifting'], inplace = True)
df18.drop(df18.index[df18['Crime type'] == 'Arson'], inplace = True)
df18.drop(df18.index[df18['Crime type'] == 'Robbery'], inplace = True)
df18.drop(df18.index[df18['Crime type'] == 'Possession of weapons'], inplace = True)
df18.drop(df18.index[df18['Crime type'] == 'Vehicle crime'], inplace = True)
df18.drop(df18.index[df18['Crime type'] == 'Violence and sexual offences'], inplace = True)
df18.drop(df18.index[df18['Crime type'] == 'Public order'], inplace = True)
df18.drop(df18.index[df18['Crime type'] == 'Criminal damage and arson'], inplace = True)
df18.drop(df18.index[df18['Crime type'] == 'Drugs'], inplace = True)
df18.drop(df18.index[df18['Crime type'] == 'Other crime'], inplace = True)
x=0 # could change x and y to a start and end date
y=13049
df18.loc[x:y]
df18.loc[x:y].index
df18.drop(df18.loc[x:y].index, inplace=True)
z=17028 # could change x and y to a start and end date
u=51985
df18.loc[z:u]
df18.loc[z:u].index
df18.drop(df18.loc[z:u].index, inplace=True)
v=54251
w= 95573
df18.loc[v:w]
df18.loc[v:w].index
df18.drop(df18.loc[v:w].index, inplace=True)
print("Size of dataset is : ", df18.shape)
df18

Size of dataset is :  (1785, 6)

         Month  Longitude  ...                    LSOA name             Crime type
13058  2019-05  -0.142156  ...                  Camden 001A          Bicycle theft
13080  2019-05  -0.150701  ...                  Camden 001C  Theft from the person
13090  2019-05  -0.148958  ...                  Camden 001D          Bicycle theft
13103  2019-05  -0.146557  ...                  Camden 001E          Bicycle theft
13109  2019-05  -0.147277  ...                  Camden 001E            Other theft
...        ...        ...  ...                          ...                    ...
54229  2019-05  -0.185278  ...  Kensington and Chelsea 021D            Other theft
54241  2019-05  -0.184375  ...  Kensington and Chelsea 021E          Bicycle theft
54242  2019-05  -0.180849  ...  Kensington and Chelsea 021E          Bicycle theft
54244  2019-05  -0.184375  ...  Kensington and Chelsea 021E            Other theft
54245  2019-05  -0.183266  ...  Kensington and Chelsea 021E            Other theft

[1785 rows x 6 columns]

In [69]:
df19 = pd.read_csv('2019-06-metropolitan-street.csv', encoding='latin1')
df19 = df19[df19.Location != "No Location"]
df19.drop(labels=['Crime ID'], axis=1, inplace=True)
df19.drop(labels=['LSOA code'], axis=1, inplace=True)
df19.drop(labels=['Context'], axis=1, inplace=True)
df19.drop(labels=['Last outcome category'], axis=1, inplace=True)
df19.drop(labels=['Falls within'], axis=1, inplace=True)
df19.drop(labels=['Reported by'], axis=1, inplace=True)
df19.drop(df19.index[df19['Crime type'] == 'Anti-social behaviour'], inplace = True)
df19.drop(df19.index[df19['Crime type'] == 'Burglary'], inplace = True)
df19.drop(df19.index[df19['Crime type'] == 'Shoplifting'], inplace = True)
df19.drop(df19.index[df19['Crime type'] == 'Arson'], inplace = True)
df19.drop(df19.index[df19['Crime type'] == 'Robbery'], inplace = True)
df19.drop(df19.index[df19['Crime type'] == 'Possession of weapons'], inplace = True)
df19.drop(df19.index[df19['Crime type'] == 'Vehicle crime'], inplace = True)
df19.drop(df19.index[df19['Crime type'] == 'Violence and sexual offences'], inplace = True)
df19.drop(df19.index[df19['Crime type'] == 'Public order'], inplace = True)
df19.drop(df19.index[df19['Crime type'] == 'Criminal damage and arson'], inplace = True)
df19.drop(df19.index[df19['Crime type'] == 'Drugs'], inplace = True)
df19.drop(df19.index[df19['Crime type'] == 'Other crime'], inplace = True)
x=0 # could change x and y to a start and end date
y=13077
df19.loc[x:y]
df19.loc[x:y].index
df19.drop(df19.loc[x:y].index, inplace=True)
z=17046 # could change x and y to a start and end date
u=52221
df19.loc[z:u]
df19.loc[z:u].index
df19.drop(df19.loc[z:u].index, inplace=True)
v=54680
w= 95111
df19.loc[v:w]
df19.loc[v:w].index
df19.drop(df19.loc[v:w].index, inplace=True)
print("Size of dataset is : ", df19.shape)
df19

Size of dataset is :  (1790, 6)

         Month  Longitude  ...                    LSOA name             Crime type
13090  2019-06  -0.142156  ...                  Camden 001A  Theft from the person
13125  2019-06  -0.148560  ...                  Camden 001D          Bicycle theft
13128  2019-06  -0.145789  ...                  Camden 001D            Other theft
13129  2019-06  -0.145789  ...                  Camden 001D            Other theft
13152  2019-06  -0.147272  ...                  Camden 001E            Other theft
...        ...        ...  ...                          ...                    ...
54636  2019-06  -0.179970  ...  Kensington and Chelsea 021C            Other theft
54637  2019-06  -0.180746  ...  Kensington and Chelsea 021C            Other theft
54653  2019-06  -0.180787  ...  Kensington and Chelsea 021D            Other theft
54656  2019-06  -0.185278  ...  Kensington and Chelsea 021D  Theft from the person
54657  2019-06  -0.180787  ...  Kensington and Chelsea 021D  Theft from the person

[1790 rows x 6 columns]

In [72]:
df20 = pd.read_csv('2019-07-metropolitan-street.csv', encoding='latin1')
df20 = df20[df20.Location != "No Location"]
df20.drop(labels=['Crime ID'], axis=1, inplace=True)
df20.drop(labels=['LSOA code'], axis=1, inplace=True)
df20.drop(labels=['Context'], axis=1, inplace=True)
df20.drop(labels=['Last outcome category'], axis=1, inplace=True)
df20.drop(labels=['Falls within'], axis=1, inplace=True)
df20.drop(labels=['Reported by'], axis=1, inplace=True)
df20.drop(df20.index[df20['Crime type'] == 'Anti-social behaviour'], inplace = True)
df20.drop(df20.index[df20['Crime type'] == 'Burglary'], inplace = True)
df20.drop(df20.index[df20['Crime type'] == 'Shoplifting'], inplace = True)
df20.drop(df20.index[df20['Crime type'] == 'Arson'], inplace = True)
df20.drop(df20.index[df20['Crime type'] == 'Robbery'], inplace = True)
df20.drop(df20.index[df20['Crime type'] == 'Possession of weapons'], inplace = True)
df20.drop(df20.index[df20['Crime type'] == 'Vehicle crime'], inplace = True)
df20.drop(df20.index[df20['Crime type'] == 'Violence and sexual offences'], inplace = True)
df20.drop(df20.index[df20['Crime type'] == 'Public order'], inplace = True)
df20.drop(df20.index[df20['Crime type'] == 'Criminal damage and arson'], inplace = True)
df20.drop(df20.index[df20['Crime type'] == 'Drugs'], inplace = True)
df20.drop(df20.index[df20['Crime type'] == 'Other crime'], inplace = True)
x=0 # could change x and y to a start and end date
y=13320
df20.loc[x:y]
df20.loc[x:y].index
df20.drop(df20.loc[x:y].index, inplace=True)
z=17401 # could change x and y to a start and end date
u=54813
df20.loc[z:u]
df20.loc[z:u].index
df20.drop(df20.loc[z:u].index, inplace=True)
v=57248
w= 98286
df20.loc[v:w]
df20.loc[v:w].index
df20.drop(df20.loc[v:w].index, inplace=True)
print("Size of dataset is : ", df20.shape)
df20

Size of dataset is :  (1791, 6)

         Month  Longitude  ...                    LSOA name             Crime type
13329  2019-07  -0.142505  ...                  Camden 001A            Other theft
13330  2019-07  -0.142505  ...                  Camden 001A            Other theft
13348  2019-07  -0.143049  ...                  Camden 001B            Other theft
13354  2019-07  -0.144852  ...                  Camden 001C            Other theft
13355  2019-07  -0.150701  ...                  Camden 001C            Other theft
...        ...        ...  ...                          ...                    ...
57186  2019-07  -0.179794  ...  Kensington and Chelsea 021A  Theft from the person
57197  2019-07  -0.181947  ...  Kensington and Chelsea 021B            Other theft
57211  2019-07  -0.180746  ...  Kensington and Chelsea 021C            Other theft
57227  2019-07  -0.185278  ...  Kensington and Chelsea 021D            Other theft
57228  2019-07  -0.185278  ...  Kensington and Chelsea 021D            Other theft

[1791 rows x 6 columns]

In [74]:
df21 = pd.read_csv('2019-08-metropolitan-street.csv', encoding='latin1')
df21 = df21[df21.Location != "No Location"]
df21.drop(labels=['Crime ID'], axis=1, inplace=True)
df21.drop(labels=['LSOA code'], axis=1, inplace=True)
df21.drop(labels=['Context'], axis=1, inplace=True)
df21.drop(labels=['Last outcome category'], axis=1, inplace=True)
df21.drop(labels=['Falls within'], axis=1, inplace=True)
df21.drop(labels=['Reported by'], axis=1, inplace=True)
df21.drop(df21.index[df21['Crime type'] == 'Anti-social behaviour'], inplace = True)
df21.drop(df21.index[df21['Crime type'] == 'Burglary'], inplace = True)
df21.drop(df21.index[df21['Crime type'] == 'Shoplifting'], inplace = True)
df21.drop(df21.index[df21['Crime type'] == 'Arson'], inplace = True)
df21.drop(df21.index[df21['Crime type'] == 'Robbery'], inplace = True)
df21.drop(df21.index[df21['Crime type'] == 'Possession of weapons'], inplace = True)
df21.drop(df21.index[df21['Crime type'] == 'Vehicle crime'], inplace = True)
df21.drop(df21.index[df21['Crime type'] == 'Violence and sexual offences'], inplace = True)
df21.drop(df21.index[df21['Crime type'] == 'Public order'], inplace = True)
df21.drop(df21.index[df21['Crime type'] == 'Criminal damage and arson'], inplace = True)
df21.drop(df21.index[df21['Crime type'] == 'Drugs'], inplace = True)
df21.drop(df21.index[df21['Crime type'] == 'Other crime'], inplace = True)
x=0 # could change x and y to a start and end date
y=12204
df21.loc[x:y]
df21.loc[x:y].index
df21.drop(df21.loc[x:y].index, inplace=True)
z=15925 # could change x and y to a start and end date
u=49216
df21.loc[z:u]
df21.loc[z:u].index
df21.drop(df21.loc[z:u].index, inplace=True)
v=52031
w= 98286
df21.loc[v:w]
df21.loc[v:w].index
df21.drop(df21.loc[v:w].index, inplace=True)
print("Size of dataset is : ", df21.shape)
df21

Size of dataset is :  (1625, 6)

         Month  Longitude  ...                    LSOA name             Crime type
12210  2019-08  -0.142505  ...                  Camden 001A            Other theft
12231  2019-08  -0.143049  ...                  Camden 001B            Other theft
12259  2019-08  -0.148560  ...                  Camden 001D  Theft from the person
12277  2019-08  -0.155278  ...                  Camden 001E          Bicycle theft
12280  2019-08  -0.147277  ...                  Camden 001E            Other theft
...        ...        ...  ...                          ...                    ...
52003  2019-08  -0.185789  ...  Kensington and Chelsea 021D          Bicycle theft
52008  2019-08  -0.182461  ...  Kensington and Chelsea 021D            Other theft
52009  2019-08  -0.180787  ...  Kensington and Chelsea 021D            Other theft
52016  2019-08  -0.185278  ...  Kensington and Chelsea 021D  Theft from the person
52027  2019-08  -0.182837  ...  Kensington and Chelsea 021E            Other theft

[1625 rows x 6 columns]

In [76]:
df22 = pd.read_csv('2019-09-metropolitan-street.csv', encoding='latin1')
df22 = df22[df22.Location != "No Location"]
df22.drop(labels=['Crime ID'], axis=1, inplace=True)
df22.drop(labels=['LSOA code'], axis=1, inplace=True)
df22.drop(labels=['Context'], axis=1, inplace=True)
df22.drop(labels=['Last outcome category'], axis=1, inplace=True)
df22.drop(labels=['Falls within'], axis=1, inplace=True)
df22.drop(labels=['Reported by'], axis=1, inplace=True)
df22.drop(df22.index[df22['Crime type'] == 'Anti-social behaviour'], inplace = True)
df22.drop(df22.index[df22['Crime type'] == 'Burglary'], inplace = True)
df22.drop(df22.index[df22['Crime type'] == 'Shoplifting'], inplace = True)
df22.drop(df22.index[df22['Crime type'] == 'Arson'], inplace = True)
df22.drop(df22.index[df22['Crime type'] == 'Robbery'], inplace = True)
df22.drop(df22.index[df22['Crime type'] == 'Possession of weapons'], inplace = True)
df22.drop(df22.index[df22['Crime type'] == 'Vehicle crime'], inplace = True)
df22.drop(df22.index[df22['Crime type'] == 'Violence and sexual offences'], inplace = True)
df22.drop(df22.index[df22['Crime type'] == 'Public order'], inplace = True)
df22.drop(df22.index[df22['Crime type'] == 'Criminal damage and arson'], inplace = True)
df22.drop(df22.index[df22['Crime type'] == 'Drugs'], inplace = True)
df22.drop(df22.index[df22['Crime type'] == 'Other crime'], inplace = True)
x=0 # could change x and y to a start and end date
y=11961
df22.loc[x:y]
df22.loc[x:y].index
df22.drop(df22.loc[x:y].index, inplace=True)
z=15579 # could change x and y to a start and end date
u=48085
df22.loc[z:u]
df22.loc[z:u].index
df22.drop(df22.loc[z:u].index, inplace=True)
v=50267
w= 98286
df22.loc[v:w]
df22.loc[v:w].index
df22.drop(df22.loc[v:w].index, inplace=True)
print("Size of dataset is : ", df22.shape)
df22

Size of dataset is :  (1510, 6)

         Month  Longitude  ...                    LSOA name             Crime type
11967  2019-09  -0.142505  ...                  Camden 001A            Other theft
11968  2019-09  -0.142505  ...                  Camden 001A            Other theft
11969  2019-09  -0.142505  ...                  Camden 001A            Other theft
11971  2019-09  -0.142505  ...                  Camden 001A  Theft from the person
11979  2019-09  -0.143049  ...                  Camden 001B  Theft from the person
...        ...        ...  ...                          ...                    ...
50243  2019-09  -0.185278  ...  Kensington and Chelsea 021D            Other theft
50244  2019-09  -0.185278  ...  Kensington and Chelsea 021D            Other theft
50248  2019-09  -0.185789  ...  Kensington and Chelsea 021D  Theft from the person
50258  2019-09  -0.184375  ...  Kensington and Chelsea 021E            Other theft
50260  2019-09  -0.183266  ...  Kensington and Chelsea 021E  Theft from the person

[1510 rows x 6 columns]

In [77]:
df23 = pd.read_csv('2019-10-metropolitan-street.csv', encoding='latin1')
df23 = df23[df23.Location != "No Location"]
df23.drop(labels=['Crime ID'], axis=1, inplace=True)
df23.drop(labels=['LSOA code'], axis=1, inplace=True)
df23.drop(labels=['Context'], axis=1, inplace=True)
df23.drop(labels=['Last outcome category'], axis=1, inplace=True)
df23.drop(labels=['Falls within'], axis=1, inplace=True)
df23.drop(labels=['Reported by'], axis=1, inplace=True)
df23.drop(df23.index[df23['Crime type'] == 'Anti-social behaviour'], inplace = True)
df23.drop(df23.index[df23['Crime type'] == 'Burglary'], inplace = True)
df23.drop(df23.index[df23['Crime type'] == 'Shoplifting'], inplace = True)
df23.drop(df23.index[df23['Crime type'] == 'Arson'], inplace = True)
df23.drop(df23.index[df23['Crime type'] == 'Robbery'], inplace = True)
df23.drop(df23.index[df23['Crime type'] == 'Possession of weapons'], inplace = True)
df23.drop(df23.index[df23['Crime type'] == 'Vehicle crime'], inplace = True)
df23.drop(df23.index[df23['Crime type'] == 'Violence and sexual offences'], inplace = True)
df23.drop(df23.index[df23['Crime type'] == 'Public order'], inplace = True)
df23.drop(df23.index[df23['Crime type'] == 'Criminal damage and arson'], inplace = True)
df23.drop(df23.index[df23['Crime type'] == 'Drugs'], inplace = True)
df23.drop(df23.index[df23['Crime type'] == 'Other crime'], inplace = True)
x=0 # could change x and y to a start and end date
y=12940
df23.loc[x:y]
df23.loc[x:y].index
df23.drop(df23.loc[x:y].index, inplace=True)
z=17214 # could change x and y to a start and end date
u=52744
df23.loc[z:u]
df23.loc[z:u].index
df23.drop(df23.loc[z:u].index, inplace=True)
v=55139
w= 98286
df23.loc[v:w]
df23.loc[v:w].index
df23.drop(df23.loc[v:w].index, inplace=True)
print("Size of dataset is : ", df23.shape)
df23

Size of dataset is :  (2050, 6)

         Month  Longitude  ...                    LSOA name     Crime type
12943  2019-10  -0.142505  ...                  Camden 001A    Other theft
12967  2019-10  -0.150701  ...                  Camden 001C    Other theft
12984  2019-10  -0.148560  ...                  Camden 001D    Other theft
12985  2019-10  -0.151088  ...                  Camden 001D    Other theft
12986  2019-10  -0.145522  ...                  Camden 001D    Other theft
...        ...        ...  ...                          ...            ...
55115  2019-10  -0.185278  ...  Kensington and Chelsea 021D    Other theft
55116  2019-10  -0.185278  ...  Kensington and Chelsea 021D    Other theft
55117  2019-10  -0.185278  ...  Kensington and Chelsea 021D    Other theft
55118  2019-10  -0.182461  ...  Kensington and Chelsea 021D    Other theft
55128  2019-10  -0.183266  ...  Kensington and Chelsea 021E  Bicycle theft

[2050 rows x 6 columns]

In [80]:
df24 = pd.read_csv('2019-11-metropolitan-street.csv', encoding='latin1')
df24 = df24[df24.Location != "No Location"]
df24.drop(labels=['Crime ID'], axis=1, inplace=True)
df24.drop(labels=['LSOA code'], axis=1, inplace=True)
df24.drop(labels=['Context'], axis=1, inplace=True)
df24.drop(labels=['Last outcome category'], axis=1, inplace=True)
df24.drop(labels=['Falls within'], axis=1, inplace=True)
df24.drop(labels=['Reported by'], axis=1, inplace=True)
df24.drop(df24.index[df24['Crime type'] == 'Anti-social behaviour'], inplace = True)
df24.drop(df24.index[df24['Crime type'] == 'Burglary'], inplace = True)
df24.drop(df24.index[df24['Crime type'] == 'Shoplifting'], inplace = True)
df24.drop(df24.index[df24['Crime type'] == 'Arson'], inplace = True)
df24.drop(df24.index[df24['Crime type'] == 'Robbery'], inplace = True)
df24.drop(df24.index[df24['Crime type'] == 'Possession of weapons'], inplace = True)
df24.drop(df24.index[df24['Crime type'] == 'Vehicle crime'], inplace = True)
df24.drop(df24.index[df24['Crime type'] == 'Violence and sexual offences'], inplace = True)
df24.drop(df24.index[df24['Crime type'] == 'Public order'], inplace = True)
df24.drop(df24.index[df24['Crime type'] == 'Criminal damage and arson'], inplace = True)
df24.drop(df24.index[df24['Crime type'] == 'Drugs'], inplace = True)
df24.drop(df24.index[df24['Crime type'] == 'Other crime'], inplace = True)
x=0 # could change x and y to a start and end date
y=12417
df24.loc[x:y]
df24.loc[x:y].index
df24.drop(df24.loc[x:y].index, inplace=True)
z=16305 # could change x and y to a start and end date
u=49931
df24.loc[z:u]
df24.loc[z:u].index
df24.drop(df24.loc[z:u].index, inplace=True)
v=52394
w= 98286
df24.loc[v:w]
df24.loc[v:w].index
df24.drop(df24.loc[v:w].index, inplace=True)
print("Size of dataset is : ", df24.shape)
df24

Size of dataset is :  (1874, 6)

         Month  Longitude  ...                    LSOA name             Crime type
12420  2019-11  -0.142505  ...                  Camden 001A            Other theft
12421  2019-11  -0.142505  ...                  Camden 001A            Other theft
12452  2019-11  -0.150701  ...                  Camden 001C            Other theft
12453  2019-11  -0.149686  ...                  Camden 001C            Other theft
12462  2019-11  -0.145918  ...                  Camden 001D            Other theft
...        ...        ...  ...                          ...                    ...
52370  2019-11  -0.180787  ...  Kensington and Chelsea 021D            Other theft
52371  2019-11  -0.185278  ...  Kensington and Chelsea 021D            Other theft
52375  2019-11  -0.185278  ...  Kensington and Chelsea 021D  Theft from the person
52376  2019-11  -0.185278  ...  Kensington and Chelsea 021D  Theft from the person
52389  2019-11  -0.182837  ...  Kensington and Chelsea 021E            Other theft

[1874 rows x 6 columns]

In [81]:
df25 = pd.read_csv('2019-12-metropolitan-street.csv', encoding='latin1')
df25 = df25[df25.Location != "No Location"]
df25.drop(labels=['Crime ID'], axis=1, inplace=True)
df25.drop(labels=['LSOA code'], axis=1, inplace=True)
df25.drop(labels=['Context'], axis=1, inplace=True)
df25.drop(labels=['Last outcome category'], axis=1, inplace=True)
df25.drop(labels=['Falls within'], axis=1, inplace=True)
df25.drop(labels=['Reported by'], axis=1, inplace=True)
df25.drop(df25.index[df25['Crime type'] == 'Anti-social behaviour'], inplace = True)
df25.drop(df25.index[df25['Crime type'] == 'Burglary'], inplace = True)
df25.drop(df25.index[df25['Crime type'] == 'Shoplifting'], inplace = True)
df25.drop(df25.index[df25['Crime type'] == 'Arson'], inplace = True)
df25.drop(df25.index[df25['Crime type'] == 'Robbery'], inplace = True)
df25.drop(df25.index[df25['Crime type'] == 'Possession of weapons'], inplace = True)
df25.drop(df25.index[df25['Crime type'] == 'Vehicle crime'], inplace = True)
df25.drop(df25.index[df25['Crime type'] == 'Violence and sexual offences'], inplace = True)
df25.drop(df25.index[df25['Crime type'] == 'Public order'], inplace = True)
df25.drop(df25.index[df25['Crime type'] == 'Criminal damage and arson'], inplace = True)
df25.drop(df25.index[df25['Crime type'] == 'Drugs'], inplace = True)
df25.drop(df25.index[df25['Crime type'] == 'Other crime'], inplace = True)
x=0 # could change x and y to a start and end date
y=11741
df25.loc[x:y]
df25.loc[x:y].index
df25.drop(df25.loc[x:y].index, inplace=True)
z=15400 # could change x and y to a start and end date
u=47138
df25.loc[z:u]
df25.loc[z:u].index
df25.drop(df25.loc[z:u].index, inplace=True)
v=49521
w= 98286
df25.loc[v:w]
df25.loc[v:w].index
df25.drop(df25.loc[v:w].index, inplace=True)
print("Size of dataset is : ", df25.shape)
df25

Size of dataset is :  (1690, 6)

         Month  Longitude  ...                    LSOA name     Crime type
11783  2019-12  -0.150701  ...                  Camden 001C    Other theft
11784  2019-12  -0.150701  ...                  Camden 001C    Other theft
11789  2019-12  -0.145413  ...                  Camden 001D  Bicycle theft
11800  2019-12  -0.147277  ...                  Camden 001E    Other theft
11836  2019-12  -0.172308  ...                  Camden 002B    Other theft
...        ...        ...  ...                          ...            ...
49493  2019-12  -0.182461  ...  Kensington and Chelsea 021D    Other theft
49494  2019-12  -0.185278  ...  Kensington and Chelsea 021D    Other theft
49495  2019-12  -0.185278  ...  Kensington and Chelsea 021D    Other theft
49496  2019-12  -0.182461  ...  Kensington and Chelsea 021D    Other theft
49497  2019-12  -0.182461  ...  Kensington and Chelsea 021D    Other theft

[1690 rows x 6 columns]

In [82]:
df = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12, df13, df14, df15, df16, df17, df18, df19, df20, df21, df22, df23, df24, df25], ignore_index=True)

df

         Month  Longitude  ...                    LSOA name             Crime type
0      2017-12  -0.143286  ...                  Camden 001B          Bicycle theft
1      2017-12  -0.143286  ...                  Camden 001B            Other theft
2      2017-12  -0.147903  ...                  Camden 001B  Theft from the person
3      2017-12  -0.150701  ...                  Camden 001C            Other theft
4      2017-12  -0.150701  ...                  Camden 001C  Theft from the person
...        ...        ...  ...                          ...                    ...
39277  2019-12  -0.182461  ...  Kensington and Chelsea 021D            Other theft
39278  2019-12  -0.185278  ...  Kensington and Chelsea 021D            Other theft
39279  2019-12  -0.185278  ...  Kensington and Chelsea 021D            Other theft
39280  2019-12  -0.182461  ...  Kensington and Chelsea 021D            Other theft
39281  2019-12  -0.182461  ...  Kensington and Chelsea 021D            Other theft

[39282 rows x 6 columns]

In [83]:
df.to_csv("Source8.csv")