<a href="https://colab.research.google.com/github/naomiburgess/QM2group15/blob/main/Source8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [191]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use('seaborn')

In [192]:
df1 = pd.read_csv('2017-11-city-of-london-street.csv', encoding='latin1')
df1 = df1[df1.Location != "No Location"]
df1.drop(labels=['Crime ID'], axis=1, inplace=True)
df1.drop(labels=['LSOA code'], axis=1, inplace=True)
df1.drop(labels=['Context'], axis=1, inplace=True)
df1.drop(labels=['Last outcome category'], axis=1, inplace=True)
df1.drop(labels=['Falls within'], axis=1, inplace=True)
df1.drop(labels=['Reported by'], axis=1, inplace=True)
df1.drop(df1.index[df1['Crime type'] == 'Anti-social behaviour'], inplace = True)
df1.drop(df1.index[df1['Crime type'] == 'Shoplifting'], inplace = True)
df1.drop(df1.index[df1['Crime type'] == 'Other theft'], inplace = True)
df1.drop(df1.index[df1['Crime type'] == 'Violence and sexual offences'], inplace = True)
df1.drop(df1.index[df1['Crime type'] == 'Public order'], inplace = True)
df1.drop(df1.index[df1['Crime type'] == 'Criminal damage and arson'], inplace = True)
df1.drop(df1.index[df1['Crime type'] == 'Drugs'], inplace = True)
df1.drop(df1.index[df1['Crime type'] == 'Other crime'], inplace = True)
x=7 # could change x and y to a start and end date
y=644 
df1.loc[x:y]
df1.loc[x:y].index
df1.drop(df1.loc[x:y].index, inplace=True)
print("Size of dataset is : ", df1.shape)
df1

Size of dataset is :  (1, 6)

     Month  Longitude  ...    LSOA name     Crime type
2  2017-11  -0.113256  ...  Camden 028B  Bicycle theft

[1 rows x 6 columns]

In [193]:
df2 = pd.read_csv('2017-12-city-of-london-street.csv', encoding='latin1')
df2 = df2[df2.Location != "No Location"]
df2.drop(labels=['Crime ID'], axis=1, inplace=True)
df2.drop(labels=['LSOA code'], axis=1, inplace=True)
df2.drop(labels=['Context'], axis=1, inplace=True)
df2.drop(labels=['Last outcome category'], axis=1, inplace=True)
df2.drop(labels=['Falls within'], axis=1, inplace=True)
df2.drop(labels=['Reported by'], axis=1, inplace=True)
df2.drop(df2.index[df2['Crime type'] == 'Anti-social behaviour'], inplace = True)
df2.drop(df2.index[df2['Crime type'] == 'Shoplifting'], inplace = True)
df2.drop(df2.index[df2['Crime type'] == 'Other theft'], inplace = True)
df2.drop(df2.index[df2['Crime type'] == 'Violence and sexual offences'], inplace = True)
df2.drop(df2.index[df2['Crime type'] == 'Public order'], inplace = True)
df2.drop(df2.index[df2['Crime type'] == 'Criminal damage and arson'], inplace = True)
df2.drop(df2.index[df2['Crime type'] == 'Drugs'], inplace = True)
df2.drop(df2.index[df2['Crime type'] == 'Other crime'], inplace = True)
x=7 # could change x and y to a start and end date
y=644 
df2.loc[x:y]
df2.loc[x:y].index
df2.drop(df2.loc[x:y].index, inplace=True)
df2
print("Size of dataset is : ", df2.shape)
df2

Size of dataset is :  (0, 6)

Empty DataFrame
Columns: [Month, Longitude, Latitude, Location, LSOA name, Crime type]
Index: []

In [194]:
df3 = pd.read_csv('2018-01-city-of-london-street.csv', encoding='latin1')
df3 = df3[df3.Location != "No Location"]
df3.drop(labels=['Crime ID'], axis=1, inplace=True)
df3.drop(labels=['LSOA code'], axis=1, inplace=True)
df3.drop(labels=['Context'], axis=1, inplace=True)
df3.drop(labels=['Last outcome category'], axis=1, inplace=True)
df3.drop(labels=['Falls within'], axis=1, inplace=True)
df3.drop(labels=['Reported by'], axis=1, inplace=True)
df3.drop(df3.index[df3['Crime type'] == 'Anti-social behaviour'], inplace = True)
df3.drop(df3.index[df3['Crime type'] == 'Burglary'], inplace = True)
df3.drop(df3.index[df3['Crime type'] == 'Shoplifting'], inplace = True)
df3.drop(df3.index[df3['Crime type'] == 'Other theft'], inplace = True)
df3.drop(df3.index[df3['Crime type'] == 'Violence and sexual offences'], inplace = True)
df3.drop(df3.index[df3['Crime type'] == 'Public order'], inplace = True)
df3.drop(df3.index[df3['Crime type'] == 'Criminal damage and arson'], inplace = True)
df3.drop(df3.index[df3['Crime type'] == 'Drugs'], inplace = True)
df3.drop(df3.index[df3['Crime type'] == 'Other crime'], inplace = True)
x=6 # could change x and y to a start and end date
y=661
df3.loc[x:y]
df3.loc[x:y].index
df3.drop(df3.loc[x:y].index, inplace=True)
print("Size of dataset is : ", df3.shape)
df3

Size of dataset is :  (2, 6)

     Month  Longitude  ...    LSOA name             Crime type
4  2018-01  -0.111962  ...  Camden 028B  Theft from the person
5  2018-01  -0.111497  ...  Camden 028B  Theft from the person

[2 rows x 6 columns]

In [195]:
df4 = pd.read_csv('2018-03-city-of-london-street.csv', encoding='latin1')
df4 = df4[df4.Location != "No Location"]
df4.drop(labels=['Crime ID'], axis=1, inplace=True)
df4.drop(labels=['LSOA code'], axis=1, inplace=True)
df4.drop(labels=['Context'], axis=1, inplace=True)
df4.drop(labels=['Last outcome category'], axis=1, inplace=True)
df4.drop(labels=['Falls within'], axis=1, inplace=True)
df4.drop(labels=['Reported by'], axis=1, inplace=True)
df4.drop(df4.index[df4['Crime type'] == 'Anti-social behaviour'], inplace = True)
df4.drop(df4.index[df4['Crime type'] == 'Burglary'], inplace = True)
df4.drop(df4.index[df4['Crime type'] == 'Shoplifting'], inplace = True)
df4.drop(df4.index[df4['Crime type'] == 'Other theft'], inplace = True)
df4.drop(df4.index[df4['Crime type'] == 'Violence and sexual offences'], inplace = True)
df4.drop(df4.index[df4['Crime type'] == 'Public order'], inplace = True)
df4.drop(df4.index[df4['Crime type'] == 'Criminal damage and arson'], inplace = True)
df4.drop(df4.index[df4['Crime type'] == 'Drugs'], inplace = True)
df4.drop(df4.index[df4['Crime type'] == 'Other crime'], inplace = True)
x=5 # could change x and y to a start and end date
y=664
df4.loc[x:y]
df4.loc[x:y].index
df4.drop(df4.loc[x:y].index, inplace=True)
print("Size of dataset is : ", df4.shape)
df4

Size of dataset is :  (1, 6)

     Month  Longitude  ...    LSOA name             Crime type
2  2018-03  -0.111497  ...  Camden 028B  Theft from the person

[1 rows x 6 columns]

In [196]:
df5 = pd.read_csv('2018-10-city-of-london-street.csv', encoding='latin1')
df5 = df5[df5.Location != "No Location"]
df5.drop(labels=['Crime ID'], axis=1, inplace=True)
df5.drop(labels=['LSOA code'], axis=1, inplace=True)
df5.drop(labels=['Context'], axis=1, inplace=True)
df5.drop(labels=['Last outcome category'], axis=1, inplace=True)
df5.drop(labels=['Falls within'], axis=1, inplace=True)
df5.drop(labels=['Reported by'], axis=1, inplace=True)
df5.drop(df5.index[df5['Crime type'] == 'Anti-social behaviour'], inplace = True)
df5.drop(df5.index[df5['Crime type'] == 'Burglary'], inplace = True)
df5.drop(df5.index[df5['Crime type'] == 'Shoplifting'], inplace = True)
df5.drop(df5.index[df5['Crime type'] == 'Other theft'], inplace = True)
df5.drop(df5.index[df5['Crime type'] == 'Violence and sexual offences'], inplace = True)
df5.drop(df5.index[df5['Crime type'] == 'Public order'], inplace = True)
df5.drop(df5.index[df5['Crime type'] == 'Criminal damage and arson'], inplace = True)
df5.drop(df5.index[df5['Crime type'] == 'Drugs'], inplace = True)
df5.drop(df5.index[df5['Crime type'] == 'Other crime'], inplace = True)
x=3 # could change x and y to a start and end date
y=714
df5.loc[x:y]
df5.loc[x:y].index
df5.drop(df5.loc[x:y].index, inplace=True)
print("Size of dataset is : ", df5.shape)
df5

Size of dataset is :  (1, 6)

     Month  Longitude  ...    LSOA name     Crime type
0  2018-10  -0.111497  ...  Camden 028B  Bicycle theft

[1 rows x 6 columns]

In [197]:
df6 = pd.read_csv('2019-01-city-of-london-street.csv', encoding='latin1')
df6 = df6[df6.Location != "No Location"]
df6.drop(labels=['Crime ID'], axis=1, inplace=True)
df6.drop(labels=['LSOA code'], axis=1, inplace=True)
df6.drop(labels=['Context'], axis=1, inplace=True)
df6.drop(labels=['Last outcome category'], axis=1, inplace=True)
df6.drop(labels=['Falls within'], axis=1, inplace=True)
df6.drop(labels=['Reported by'], axis=1, inplace=True)
df6.drop(df6.index[df6['Crime type'] == 'Anti-social behaviour'], inplace = True)
df6.drop(df6.index[df6['Crime type'] == 'Burglary'], inplace = True)
df6.drop(df6.index[df6['Crime type'] == 'Shoplifting'], inplace = True)
df6.drop(df6.index[df6['Crime type'] == 'Other theft'], inplace = True)
df6.drop(df6.index[df6['Crime type'] == 'Violence and sexual offences'], inplace = True)
df6.drop(df6.index[df6['Crime type'] == 'Public order'], inplace = True)
df6.drop(df6.index[df6['Crime type'] == 'Criminal damage and arson'], inplace = True)
df6.drop(df6.index[df6['Crime type'] == 'Drugs'], inplace = True)
df6.drop(df6.index[df6['Crime type'] == 'Other crime'], inplace = True)
x=3 # could change x and y to a start and end date
y=661
df6.loc[x:y]
df6.loc[x:y].index
df6.drop(df6.loc[x:y].index, inplace=True)
print("Size of dataset is : ", df6.shape)
df6

Size of dataset is :  (1, 6)

     Month  Longitude  ...    LSOA name     Crime type
1  2019-01  -0.112422  ...  Camden 028B  Bicycle theft

[1 rows x 6 columns]

In [198]:
df7 = pd.read_csv('2019-03-city-of-london-street.csv', encoding='latin1')
df7 = df7[df7.Location != "No Location"]
df7.drop(labels=['Crime ID'], axis=1, inplace=True)
df7.drop(labels=['LSOA code'], axis=1, inplace=True)
df7.drop(labels=['Context'], axis=1, inplace=True)
df7.drop(labels=['Last outcome category'], axis=1, inplace=True)
df7.drop(labels=['Falls within'], axis=1, inplace=True)
df7.drop(labels=['Reported by'], axis=1, inplace=True)
df7.drop(df7.index[df7['Crime type'] == 'Anti-social behaviour'], inplace = True)
df7.drop(df7.index[df7['Crime type'] == 'Burglary'], inplace = True)
df7.drop(df7.index[df7['Crime type'] == 'Shoplifting'], inplace = True)
df7.drop(df7.index[df7['Crime type'] == 'Other theft'], inplace = True)
df7.drop(df7.index[df7['Crime type'] == 'Violence and sexual offences'], inplace = True)
df7.drop(df7.index[df7['Crime type'] == 'Public order'], inplace = True)
df7.drop(df7.index[df7['Crime type'] == 'Criminal damage and arson'], inplace = True)
df7.drop(df7.index[df7['Crime type'] == 'Drugs'], inplace = True)
df7.drop(df7.index[df7['Crime type'] == 'Other crime'], inplace = True)
x=5 # could change x and y to a start and end date
y=821
df7.loc[x:y]
df7.loc[x:y].index
df7.drop(df7.loc[x:y].index, inplace=True)
print("Size of dataset is : ", df7.shape)
df7

Size of dataset is :  (1, 6)

     Month  Longitude  ...    LSOA name             Crime type
3  2019-03  -0.111962  ...  Camden 028B  Theft from the person

[1 rows x 6 columns]

In [199]:
df8 = pd.read_csv('2019-08-city-of-london-street.csv', encoding='latin1')
df8 = df8[df8.Location != "No Location"]
df8.drop(labels=['Crime ID'], axis=1, inplace=True)
df8.drop(labels=['LSOA code'], axis=1, inplace=True)
df8.drop(labels=['Context'], axis=1, inplace=True)
df8.drop(labels=['Last outcome category'], axis=1, inplace=True)
df8.drop(labels=['Falls within'], axis=1, inplace=True)
df8.drop(labels=['Reported by'], axis=1, inplace=True)
df8.drop(df8.index[df8['Crime type'] == 'Anti-social behaviour'], inplace = True)
df8.drop(df8.index[df8['Crime type'] == 'Burglary'], inplace = True)
df8.drop(df8.index[df8['Crime type'] == 'Shoplifting'], inplace = True)
df8.drop(df8.index[df8['Crime type'] == 'Other theft'], inplace = True)
df8.drop(df8.index[df8['Crime type'] == 'Violence and sexual offences'], inplace = True)
df8.drop(df8.index[df8['Crime type'] == 'Public order'], inplace = True)
df8.drop(df8.index[df8['Crime type'] == 'Criminal damage and arson'], inplace = True)
df8.drop(df8.index[df8['Crime type'] == 'Drugs'], inplace = True)
df8.drop(df8.index[df8['Crime type'] == 'Other crime'], inplace = True)
x=6 # could change x and y to a start and end date
y=901
df8.loc[x:y]
df8.loc[x:y].index
df8.drop(df8.loc[x:y].index, inplace=True)
print("Size of dataset is : ", df8.shape)
df8

Size of dataset is :  (2, 6)

     Month  Longitude  ...    LSOA name             Crime type
2  2019-08  -0.125261  ...  Camden 028A  Theft from the person
4  2019-08  -0.111962  ...  Camden 028B          Bicycle theft

[2 rows x 6 columns]

In [200]:
df9 = pd.read_csv('2019-09-city-of-london-street.csv', encoding='latin1')
df9 = df9[df9.Location != "No Location"]
df9.drop(labels=['Crime ID'], axis=1, inplace=True)
df9.drop(labels=['LSOA code'], axis=1, inplace=True)
df9.drop(labels=['Context'], axis=1, inplace=True)
df9.drop(labels=['Last outcome category'], axis=1, inplace=True)
df9.drop(labels=['Falls within'], axis=1, inplace=True)
df9.drop(labels=['Reported by'], axis=1, inplace=True)
df9.drop(df9.index[df9['Crime type'] == 'Anti-social behaviour'], inplace = True)
df9.drop(df9.index[df9['Crime type'] == 'Burglary'], inplace = True)
df9.drop(df9.index[df9['Crime type'] == 'Shoplifting'], inplace = True)
df9.drop(df9.index[df9['Crime type'] == 'Other theft'], inplace = True)
df9.drop(df9.index[df9['Crime type'] == 'Violence and sexual offences'], inplace = True)
df9.drop(df9.index[df9['Crime type'] == 'Public order'], inplace = True)
df9.drop(df9.index[df9['Crime type'] == 'Criminal damage and arson'], inplace = True)
df9.drop(df9.index[df9['Crime type'] == 'Drugs'], inplace = True)
df9.drop(df9.index[df9['Crime type'] == 'Other crime'], inplace = True)
x=4 # could change x and y to a start and end date
y=853
df9.loc[x:y]
df9.loc[x:y].index
df9.drop(df9.loc[x:y].index, inplace=True)
print("Size of dataset is : ", df9.shape)
df9

Size of dataset is :  (1, 6)

     Month  Longitude  ...    LSOA name             Crime type
3  2019-09  -0.111962  ...  Camden 028B  Theft from the person

[1 rows x 6 columns]

In [201]:
df10 = pd.read_csv('2019-11-city-of-london-street.csv', encoding='latin1')
df10 = df10[df10.Location != "No Location"]
df10.drop(labels=['Crime ID'], axis=1, inplace=True)
df10.drop(labels=['LSOA code'], axis=1, inplace=True)
df10.drop(labels=['Context'], axis=1, inplace=True)
df10.drop(labels=['Last outcome category'], axis=1, inplace=True)
df10.drop(labels=['Falls within'], axis=1, inplace=True)
df10.drop(labels=['Reported by'], axis=1, inplace=True)
df10.drop(df10.index[df10['Crime type'] == 'Anti-social behaviour'], inplace = True)
df10.drop(df10.index[df10['Crime type'] == 'Burglary'], inplace = True)
df10.drop(df10.index[df10['Crime type'] == 'Shoplifting'], inplace = True)
df10.drop(df10.index[df10['Crime type'] == 'Other theft'], inplace = True)
df10.drop(df10.index[df10['Crime type'] == 'Violence and sexual offences'], inplace = True)
df10.drop(df10.index[df10['Crime type'] == 'Public order'], inplace = True)
df10.drop(df10.index[df10['Crime type'] == 'Criminal damage and arson'], inplace = True)
df10.drop(df10.index[df10['Crime type'] == 'Drugs'], inplace = True)
df10.drop(df10.index[df10['Crime type'] == 'Other crime'], inplace = True)
x=6 # could change x and y to a start and end date
y=933
df10.loc[x:y]
df10.loc[x:y].index
df10.drop(df10.loc[x:y].index, inplace=True)
print("Size of dataset is : ", df10.shape)
df10

Size of dataset is :  (1, 6)

     Month  Longitude  ...    LSOA name             Crime type
4  2019-11  -0.111962  ...  Camden 028B  Theft from the person

[1 rows x 6 columns]

In [202]:
df11 = pd.read_csv('2019-12-city-of-london-street.csv', encoding='latin1')
df11 = df11[df11.Location != "No Location"]
df11.drop(labels=['Crime ID'], axis=1, inplace=True)
df11.drop(labels=['LSOA code'], axis=1, inplace=True)
df11.drop(labels=['Context'], axis=1, inplace=True)
df11.drop(labels=['Last outcome category'], axis=1, inplace=True)
df11.drop(labels=['Falls within'], axis=1, inplace=True)
df11.drop(labels=['Reported by'], axis=1, inplace=True)
df11.drop(df11.index[df11['Crime type'] == 'Anti-social behaviour'], inplace = True)
df11.drop(df11.index[df11['Crime type'] == 'Burglary'], inplace = True)
df11.drop(df11.index[df11['Crime type'] == 'Shoplifting'], inplace = True)
df11.drop(df11.index[df11['Crime type'] == 'Other theft'], inplace = True)
df11.drop(df11.index[df11['Crime type'] == 'Violence and sexual offences'], inplace = True)
df11.drop(df11.index[df11['Crime type'] == 'Public order'], inplace = True)
df11.drop(df11.index[df11['Crime type'] == 'Criminal damage and arson'], inplace = True)
df11.drop(df11.index[df11['Crime type'] == 'Drugs'], inplace = True)
df11.drop(df11.index[df11['Crime type'] == 'Other crime'], inplace = True)
x=3 # could change x and y to a start and end date
y=882
df11.loc[x:y]
df11.loc[x:y].index
df11.drop(df11.loc[x:y].index, inplace=True)
print("Size of dataset is : ", df11.shape)
df11

Size of dataset is :  (1, 6)

     Month  Longitude  ...    LSOA name             Crime type
1  2019-12  -0.111497  ...  Camden 028B  Theft from the person

[1 rows x 6 columns]

In [203]:
df12 = pd.read_csv('2020-01-city-of-london-street.csv', encoding='latin1')
df12= df12[df12.Location != "No Location"]
df12.drop(labels=['Crime ID'], axis=1, inplace=True)
df12.drop(labels=['LSOA code'], axis=1, inplace=True)
df12.drop(labels=['Context'], axis=1, inplace=True)
df12.drop(labels=['Last outcome category'], axis=1, inplace=True)
df12.drop(labels=['Falls within'], axis=1, inplace=True)
df12.drop(labels=['Reported by'], axis=1, inplace=True)
df12.drop(df12.index[df12['Crime type'] == 'Anti-social behaviour'], inplace = True)
df12.drop(df12.index[df12['Crime type'] == 'Burglary'], inplace = True)
df12.drop(df12.index[df12['Crime type'] == 'Shoplifting'], inplace = True)
df12.drop(df12.index[df12['Crime type'] == 'Other theft'], inplace = True)
df12.drop(df12.index[df12['Crime type'] == 'Violence and sexual offences'], inplace = True)
df12.drop(df12.index[df12['Crime type'] == 'Public order'], inplace = True)
df12.drop(df12.index[df12['Crime type'] == 'Criminal damage and arson'], inplace = True)
df12.drop(df12.index[df12['Crime type'] == 'Drugs'], inplace = True)
df12.drop(df12.index[df12['Crime type'] == 'Other crime'], inplace = True)
x=3 # could change x and y to a start and end date
y=797
df12.loc[x:y]
df12.loc[x:y].index
df12.drop(df12.loc[x:y].index, inplace=True)
print("Size of dataset is : ", df12.shape)
df12

Size of dataset is :  (1, 6)

     Month  Longitude  ...    LSOA name             Crime type
0  2020-01  -0.106453  ...  Camden 027B  Theft from the person

[1 rows x 6 columns]

In [204]:
df13 = pd.read_csv('2020-02-city-of-london-street.csv', encoding='latin1')
df13 = df13[df13.Location != "No Location"]
df13.drop(labels=['Crime ID'], axis=1, inplace=True)
df13.drop(labels=['LSOA code'], axis=1, inplace=True)
df13.drop(labels=['Context'], axis=1, inplace=True)
df13.drop(labels=['Last outcome category'], axis=1, inplace=True)
df13.drop(labels=['Falls within'], axis=1, inplace=True)
df13.drop(labels=['Reported by'], axis=1, inplace=True)
df13.drop(df13.index[df13['Crime type'] == 'Anti-social behaviour'], inplace = True)
df13.drop(df13.index[df13['Crime type'] == 'Burglary'], inplace = True)
df13.drop(df13.index[df13['Crime type'] == 'Shoplifting'], inplace = True)
df13.drop(df13.index[df13['Crime type'] == 'Other theft'], inplace = True)
df13.drop(df13.index[df13['Crime type'] == 'Violence and sexual offences'], inplace = True)
df13.drop(df13.index[df13['Crime type'] == 'Public order'], inplace = True)
df13.drop(df13.index[df13['Crime type'] == 'Criminal damage and arson'], inplace = True)
df13.drop(df13.index[df13['Crime type'] == 'Drugs'], inplace = True)
df13.drop(df13.index[df13['Crime type'] == 'Other crime'], inplace = True)
x=6 # could change x and y to a start and end date
y=763
df13.loc[x:y]
df13.loc[x:y].index
df13.drop(df13.loc[x:y].index, inplace=True)
print("Size of dataset is : ", df13.shape)
df13

Size of dataset is :  (1, 6)

     Month  Longitude  ...    LSOA name             Crime type
3  2020-02  -0.111497  ...  Camden 028B  Theft from the person

[1 rows x 6 columns]

In [205]:
df14 = pd.read_csv('2020-03-city-of-london-street.csv', encoding='latin1')
df14 = df14[df14.Location != "No Location"]
df14.drop(labels=['Crime ID'], axis=1, inplace=True)
df14.drop(labels=['LSOA code'], axis=1, inplace=True)
df14.drop(labels=['Context'], axis=1, inplace=True)
df14.drop(labels=['Last outcome category'], axis=1, inplace=True)
df14.drop(labels=['Falls within'], axis=1, inplace=True)
df14.drop(labels=['Reported by'], axis=1, inplace=True)
df14.drop(df14.index[df14['Crime type'] == 'Anti-social behaviour'], inplace = True)
df14.drop(df14.index[df14['Crime type'] == 'Burglary'], inplace = True)
df14.drop(df14.index[df14['Crime type'] == 'Shoplifting'], inplace = True)
df14.drop(df14.index[df14['Crime type'] == 'Other theft'], inplace = True)
df14.drop(df14.index[df14['Crime type'] == 'Violence and sexual offences'], inplace = True)
df14.drop(df14.index[df14['Crime type'] == 'Public order'], inplace = True)
df14.drop(df14.index[df14['Crime type'] == 'Criminal damage and arson'], inplace = True)
df14.drop(df14.index[df14['Crime type'] == 'Drugs'], inplace = True)
df14.drop(df14.index[df14['Crime type'] == 'Other crime'], inplace = True)
x=5 # could change x and y to a start and end date
y=605
df14.loc[x:y]
df14.loc[x:y].index
df14.drop(df14.loc[x:y].index, inplace=True)
print("Size of dataset is : ", df14.shape)
df14

Size of dataset is :  (1, 6)

     Month  Longitude  ...    LSOA name             Crime type
4  2020-03  -0.111497  ...  Camden 028B  Theft from the person

[1 rows x 6 columns]

In [206]:
df15 = pd.read_csv('2020-05-city-of-london-street.csv', encoding='latin1')
df15 = df15[df15.Location != "No Location"]
df15.drop(labels=['Crime ID'], axis=1, inplace=True)
df15.drop(labels=['LSOA code'], axis=1, inplace=True)
df15.drop(labels=['Context'], axis=1, inplace=True)
df15.drop(labels=['Last outcome category'], axis=1, inplace=True)
df15.drop(labels=['Falls within'], axis=1, inplace=True)
df15.drop(labels=['Reported by'], axis=1, inplace=True)
df15.drop(df15.index[df15['Crime type'] == 'Anti-social behaviour'], inplace = True)
df15.drop(df15.index[df15['Crime type'] == 'Burglary'], inplace = True)
df15.drop(df15.index[df15['Crime type'] == 'Shoplifting'], inplace = True)
df15.drop(df15.index[df15['Crime type'] == 'Other theft'], inplace = True)
df15.drop(df15.index[df15['Crime type'] == 'Violence and sexual offences'], inplace = True)
df15.drop(df15.index[df15['Crime type'] == 'Public order'], inplace = True)
df15.drop(df15.index[df15['Crime type'] == 'Criminal damage and arson'], inplace = True)
df15.drop(df15.index[df15['Crime type'] == 'Drugs'], inplace = True)
df15.drop(df15.index[df15['Crime type'] == 'Other crime'], inplace = True)
x=2 # could change x and y to a start and end date
y=226
df15.loc[x:y]
df15.loc[x:y].index
df15.drop(df15.loc[x:y].index, inplace=True)
print("Size of dataset is : ", df15.shape)
df15

Size of dataset is :  (1, 6)

     Month  Longitude  ...    LSOA name             Crime type
0  2020-05  -0.111962  ...  Camden 028B  Theft from the person

[1 rows x 6 columns]

In [207]:
df16 = pd.read_csv('2020-06-city-of-london-street.csv', encoding='latin1')
df16 = df16[df16.Location != "No Location"]
df16.drop(labels=['Crime ID'], axis=1, inplace=True)
df16.drop(labels=['LSOA code'], axis=1, inplace=True)
df16.drop(labels=['Context'], axis=1, inplace=True)
df16.drop(labels=['Last outcome category'], axis=1, inplace=True)
df16.drop(labels=['Falls within'], axis=1, inplace=True)
df16.drop(labels=['Reported by'], axis=1, inplace=True)
df16.drop(df16.index[df16['Crime type'] == 'Anti-social behaviour'], inplace = True)
df16.drop(df16.index[df16['Crime type'] == 'Burglary'], inplace = True)
df16.drop(df16.index[df16['Crime type'] == 'Shoplifting'], inplace = True)
df16.drop(df16.index[df16['Crime type'] == 'Other theft'], inplace = True)
df16.drop(df16.index[df16['Crime type'] == 'Violence and sexual offences'], inplace = True)
df16.drop(df16.index[df16['Crime type'] == 'Public order'], inplace = True)
df16.drop(df16.index[df16['Crime type'] == 'Criminal damage and arson'], inplace = True)
df16.drop(df16.index[df16['Crime type'] == 'Drugs'], inplace = True)
df16.drop(df16.index[df16['Crime type'] == 'Other crime'], inplace = True)
x=3 # could change x and y to a start and end date
y=323
df16.loc[x:y]
df16.loc[x:y].index
df16.drop(df16.loc[x:y].index, inplace=True)
print("Size of dataset is : ", df16.shape)
df16

Size of dataset is :  (1, 6)

     Month  Longitude  ...    LSOA name             Crime type
1  2020-06  -0.106453  ...  Camden 027B  Theft from the person

[1 rows x 6 columns]

In [208]:
df17 = pd.read_csv('2020-08-city-of-london-street.csv', encoding='latin1')
df17 = df17[df17.Location != "No Location"]
df17.drop(labels=['Crime ID'], axis=1, inplace=True)
df17.drop(labels=['LSOA code'], axis=1, inplace=True)
df17.drop(labels=['Context'], axis=1, inplace=True)
df17.drop(labels=['Last outcome category'], axis=1, inplace=True)
df17.drop(labels=['Falls within'], axis=1, inplace=True)
df17.drop(labels=['Reported by'], axis=1, inplace=True)
df17.drop(df17.index[df17['Crime type'] == 'Anti-social behaviour'], inplace = True)
df17.drop(df17.index[df17['Crime type'] == 'Burglary'], inplace = True)
df17.drop(df17.index[df17['Crime type'] == 'Shoplifting'], inplace = True)
df17.drop(df17.index[df17['Crime type'] == 'Other theft'], inplace = True)
df17.drop(df17.index[df17['Crime type'] == 'Violence and sexual offences'], inplace = True)
df17.drop(df17.index[df17['Crime type'] == 'Public order'], inplace = True)
df17.drop(df17.index[df17['Crime type'] == 'Criminal damage and arson'], inplace = True)
df17.drop(df17.index[df17['Crime type'] == 'Drugs'], inplace = True)
df17.drop(df17.index[df17['Crime type'] == 'Other crime'], inplace = True)
x=2 # could change x and y to a start and end date
y=505
df17.loc[x:y]
df17.loc[x:y].index
df17.drop(df17.loc[x:y].index, inplace=True)
print("Size of dataset is : ", df17.shape)
df17

Size of dataset is :  (1, 6)

     Month  Longitude  ...    LSOA name     Crime type
0  2020-08  -0.111497  ...  Camden 028B  Bicycle theft

[1 rows x 6 columns]

In [209]:
df = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12, df13, df14, df15, df16, df17], ignore_index=True)

df

      Month  Longitude  ...    LSOA name             Crime type
0   2017-11  -0.113256  ...  Camden 028B          Bicycle theft
1   2018-01  -0.111962  ...  Camden 028B  Theft from the person
2   2018-01  -0.111497  ...  Camden 028B  Theft from the person
3   2018-03  -0.111497  ...  Camden 028B  Theft from the person
4   2018-10  -0.111497  ...  Camden 028B          Bicycle theft
5   2019-01  -0.112422  ...  Camden 028B          Bicycle theft
6   2019-03  -0.111962  ...  Camden 028B  Theft from the person
7   2019-08  -0.125261  ...  Camden 028A  Theft from the person
8   2019-08  -0.111962  ...  Camden 028B          Bicycle theft
9   2019-09  -0.111962  ...  Camden 028B  Theft from the person
10  2019-11  -0.111962  ...  Camden 028B  Theft from the person
11  2019-12  -0.111497  ...  Camden 028B  Theft from the person
12  2020-01  -0.106453  ...  Camden 027B  Theft from the person
13  2020-02  -0.111497  ...  Camden 028B  Theft from the person
14  2020-03  -0.111497  ...  Camden 028B  Theft from the person
15  2020-05  -0.111962  ...  Camden 028B  Theft from the person
16  2020-06  -0.106453  ...  Camden 027B  Theft from the person
17  2020-08  -0.111497  ...  Camden 028B          Bicycle theft

[18 rows x 6 columns]